// compileCompressed, compressedFilenamePattern: ../../assets/css/skins/original.min.css

// TYPOGRAPHY
$font-size:               14px;

//GENERAL
$background-color:        #6ed7fe;
$body-text-color:         rgb(38, 38, 38);
$heading-text-color:      #666666;
$table-background:        transparent;
$avatar-rounded:          true;

// BOOTSTRAP COLORS
$default-text:            #ffffff;
$default-bg:              #999999;
$primary-text:            #ffffff;
$primary-bg:              #346288;
$info-text:               #ffffff;
$info-bg:                 #3fa49f;
$success-text:            #ffffff;
$success-bg:              #3fa46c;
$warning-text:            #ffffff;
$warning-bg:              #ffac74;
$danger-text:             #ffffff;
$danger-bg:               #a43f77;
$outline-text:            #5dd0ed;

// SKIN COLORS
$link-color:              #358fce;
$accent-color:            #5dd0ed;
$secondary-color:         #ffac74;
$neutral-color:           #c7c7cc;
$well-color:              #ffffff;
$logo-color:              #ffffff;
$logo-color-minimal:      #ffffff;
$hamburger-menu:          #ffffff;
$box-holder:              #ffffff;
$left-sidebar:            #8b99c2;
$left-sidebar-border:     #8b99c2;
$left-sidebar-text:       #ffffff;
$use-sidebar-accent:      false;
$sidebar-border-color:    #4f8bbb;
$navbar-bg:               transparent;

$cart-items:              hsla(0,0%,100%,0.8);
$top-header-icons:        hsla(0,0%,100%,0.6);
$top-header-bg:           #346288;
$top-header-text:         #ffffff;
$use-topbar-accent:       false;
$use-topbar-borders:      true;

$info-box-bg:             #ebeef2;
$news-panel-bg:           #f7f8fa;
$news-panel-text:         #666666;
$news-panel-link:         #358fce;

$ticket-admin-head-bg:    #cce9a4;
$ticket-admin-head-text:  rgba(0, 0, 0, .5);
$ticket-user-head-bg:     #c7eff9;
$ticket-user-head-text:   rgba(0, 0, 0, .5);

$datatable-panel:         #346288;
$datatable-panel-link:    #ffffff;
$datatable-panel-footer:  #f7f7f7;

$sub-footer-text:         #475b65;
$sub-footer-link:         #ffffff;

// MINIMAL
$minimal-box-bg:          rgba(255,255,255,0.8);
$minimal-box-text:        #3f77a4;
$minimal-box-alt-text:    #ffffff;

// FORMS
$border-radius-base:      0px;
$border-radius-forms:     0px;
$form-color:              #555555;
$form-background:         rgba(0, 0, 0, .02);
$form-border:             rgba(0, 0, 0, .1);
$form-placeholder:        #333333;

body {
color: $body-text-color;
font-size: $font-size;
background: $background-color;
background: -webkit-linear-gradient( top, #3f77a4, #8bb6d0, #6e80b8 70%, #26447c );
background: linear-gradient( top, #3f77a4, #8bb6d0, #6e80b8 70%, #26447c );
background-attachment: fixed;
}

@import "skin";
