<link rel="stylesheet" type="text/css" href="{$WEB_ROOT}/templates/orderforms/flowcart7/css/style.css?v={$versionHash}" />
<script type="text/javascript" src="{$WEB_ROOT}/templates/orderforms/flowcart7/js/scripts.js?v={$versionHash}"></script>