@import url('../fonts/flow.css');

/* Bootstrap and FA Tweaks
====================================*/

ul{list-style:none;}
.action-step {margin-bottom:30px;}
a:hover{text-decoration:none;}
.well-secondary{border-top:2px #ccc solid;}
.well-primary h4{margin-top:0;}
.well-nodata {text-align: center;}
.label-white{background-color:#f7f7f7;color:#888;}
.input-xl,.form-group-xl .form-control{height:60px;font-size:18px;line-height:1.33;border-radius:0;color:#999;padding:10px 16px;}
select.input-xl,select.form-group-xl .form-control{height:60px;line-height:60px;}
textarea.input-xl,textarea.form-group-xl .form-control,select[multiple].input-xl,select[multiple].form-group-xl .form-control{height:auto;}

.fa-muted{color:#C9CDD1;}

.btn-link:hover, .btn-link:focus {text-decoration: underline;background-color: transparent;}
.no-data [class*="fa"] {display: block;margin: 0px 0px 10px;font-size: 38px;color: #C9CDD1;}
.pricing .fa-times {color: #bc1a3a;}
.configoplabel {margin-bottom: 5px;}
.flow-title {font-family: "Source Sans Pro",sans-serif;}
#ccinputform .table {background-color:transparent;}

.checkbox.input-label-group{background: #fff;padding: 4px 0 4px 15px;border: 1px solid #fff;border-radius: 5px; width:100%;}
.checkbox.input-label-group label{text-align: left;letter-spacing: -.5px;}
.checkbox.input-label-group label input.year {color:green;}
.subhidden{display: none;}


/* Flow Menu
====================================*/

#stepbar{position:relative;height:60px;background-color:#e9eef2;margin:30px 0 30px;}
#flow-menu{position:relative;height:60px;padding-left:61px;background-color:#e9eef2;margin:0 0 25px;}
#flow-menu > li,#stepbar > li{position:relative;float:left;width:25%;height:60px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#flow-menu > li .flow-icon{width:30px;color:#fff;font-size:28px;text-align:left;vertical-align:middle;margin:0;}
#flow-menu li.dashboard,#stepbar li.dashboard{position:absolute;height:60px;width:60px;left:0;background-color:#dce1e5;}
#flow-menu > li.dashboard > a,#stepbar > li.dashboard > span,#stepbar > li.dashboard > a{width:100%;font-size:18px;text-align:center;line-height:60px;padding:0;}
#flow-menu li.dashboard a:before,#flow-menu li .flow-icon:before,#stepbar li.dashboard a:before{margin:0;}
#flow-menu > li > a,#stepbar > li > a{display:table;width:100%;vertical-align:middle;height:60px;color:#999;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 0 0 20px;}
#flow-menu > li > a > span,#stepbar > li > span > span{display:table-cell;padding-right:10px;vertical-align:middle;line-height:16px;}
#stepbar > li.active > a,#stepbar > li.active > span,#flow-menu > li.active > a{text-decoration: none;}
#flow-menu li.active a .flow-icon,#flow-menu li.active span .flow-icon{color:#fff; text-decoration: none;}

/* Billing Cycles + Currency
====================================*/

.currency {padding-right: 10px; margin-bottom: -15px;}
.curr{color:#E9EEF2;margin-bottom:0px;}

.currency-product a {padding-right:5px;}
.currency-product span {color: #666;font-size: 14px;font-weight: 700;margin-bottom: 3px;}
.fa-money {color:#E9EEF2;}



/* Nav Wizard
====================================*/

ul.nav-wizard{position:relative;overflow:hidden;}
ul.nav-wizard:before{display:block;position:absolute;left:0;right:0;top:60px;height:60px;z-index:11;content:" ";}
ul.nav-wizard:after{display:block;position:absolute;left:0;right:0;top:138px;height:60px;z-index:11;content:" ";}
ul.nav-wizard li{position:relative;float:left;height:60px;display:inline-block;text-align:middle;font-size:16px;line-height:60px;margin:0;padding:0 20px 0 30px;}
ul.nav-wizard li a{color:#468847;padding:0;}
ul.nav-wizard li a:hover{background-color:transparent;}
ul.nav-wizard li:before{position:absolute;display:block;border:30px solid transparent;border-left:16px solid #d4d4d4;border-right:0;top:-1px;z-index:10;content:'';right:-16px;}
ul.nav-wizard li:after{position:absolute;display:block;border:30px solid transparent;border-left:16px solid #E9EEF2;border-right:0;top:-1px;z-index:10;content:'';right:-15px;}
ul.nav-wizard .active ~ li{color:#505559;background:#E9EEF2;}


/* Loader
====================================*/

#loader{line-height:60px;right:10px;position:absolute;overflow:hidden;}
.loader{display:none;height:32px;margin-top:5px;line-height:32px;}


/* User Details
====================================*/

.user-details .nav-tabs li a .radio,.user-details .nav-tabs li a input[type="radio"]{display:none;}
.user-details .nav-tabs li a{color:#666;}
.user-details .nav > li > a{position:relative;display:block;padding:9px 30px;}
.user-details .tab-content{padding-top:30px;}


/* General
====================================*/
.pv-lg {padding-top: 18px!important;padding-bottom: 15px!important}
.currency-product {margin:5px 0;}
.includes-container {margin-bottom:30px}
.productGroupfeatures { padding-left: 0; }
.productGroupfeatures li { float: left; padding-right: 10px; }
.productGroupfeatures i { padding-right: 5px; }



/* Ribbon
====================================*/

.has-ribbon{position:relative;}
.has-ribbon:after,.has-ribbon:before{display:inline-block;position:absolute;top:30px;left:-6px;z-index:10;}
.has-ribbon:after{content:attr(data-text);min-width:40px;font-size:21px;text-transform:uppercase;color:#fff;background-color:#e26148;border-radius:0 2px 2px 2px;-webkit-box-shadow:inset 0 -1px 5px rgba(0,0,0,0.15);box-shadow:inset 0 -1px 5px rgba(0,0,0,0.15);padding:15px 60px;}
.has-ribbon:before{content:"";width:0;height:0;margin-top:-10px;border-color:#bf381e transparent;border-style:solid;border-width:0 0 10px 6px;}
.has-ribbon.has-ribbon-right:after,.has-ribbon.has-ribbon-right:before{right:-6px;left:auto;}
.has-ribbon.has-ribbon-right:after{border-radius:1px 0 2px 1px;padding-right:8px;}
.has-ribbon.has-ribbon-right:before{border-width:0 6px 10px 0;}

/* Slider
====================================*/

#order-slider .cartslider{margin-top:47px;padding:30px 10px;}
.ui-slider-handle{background:url(../img/ui-slider.png)!important;width:26px!important;height:26px!important;border:0!important;border-radius:0!important;margin-top:0!important;}
.ui-slider-handle:focus{outline:none;}
.ui-slider-horizontal{height:16px!important;}
.ui-widget-header{background-color:#e26148;}
.sliderlabel{color:#555;float:left;margin-top:16px;font-weight:400;font-size:15px;}
.sliderlabel:hover{cursor:pointer;}
.sliderlabel.selected{color:#e26148;}
.sliderlabel span{background:#eee;display:block;height:10px;width:2px;margin:auto;margin-bottom: 2px;}
.sliderlabel.selected span{background:#e26148;}
.ui-widget-content{border:1px solid #c9c9c9;background:#e6e6e6;color:#666;}
.panel-slider{-webkit-box-shadow:0 -2px 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 -2px 1px 0 rgba(0,0,0,0.1);box-shadow:0 -2px 1px 0 rgba(0,0,0,0.1);margin-bottom:26px;}


/* Slider Boxes
====================================*/
.cartprods {padding:50px 90px;}
.cart-normal {margin-top:15px;}
.cart-normal .cart-button {background-color:#fff;border:1px solid #e3e3e3;border-radius:3px;-webkit-box-shadow:0 0 3px #fff;-moz-box-shadow:0 0 3px #fff;box-shadow:0 0 3px #fff;color:#666;display:block;min-width:146px;white-space:nowrap;padding:15px 0 6px 0;text-align: center;}
.cart-normal .cart-button  span.flow-icon {display:block;font-weight:100;font-size:28px;text-align: center;}
.cart-normal .cart-button.default {border:1px solid #D9D9D9;box-shadow:0 1px 2px 0 #F8F8F8 inset;}
.cart-normal .badge,.cart-normal .label{box-shadow:none;display:block;position:absolute;right:20px;top:6px;padding:3px 5px; font-size: 13px; background-color:#e26148}
.cart-normal .label-secondary {background-color:#f2bb49;}


/* Price Display
====================================*/

.price {font-size: 36px; color:#e26148; font-weight: 100;}
.pricing-term {font-size: 18px;font-weight: 200; color: #666;margin-top: -4px;text-transform: uppercase;letter-spacing: 2px;}
.proddesc {padding:0; margin-top: 58px; margin-bottom: 30px;}
