@media (max-width: $screen-xs-max) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
}
