    <div class="alert alert-danger">
      <h4><i class="fa fa-warning"></i> {lang key="errorPage.404.title"} {lang key="errorPage.404.subtitle"}</h4>
        <p>{lang key="errorPage.404.description"}</p>
        <div class="buttons">
            <a href="{$systemurl}" class="btn btn-default">
                {lang key="errorPage.404.home"}
            </a>
            <a href="{$systemurl}submitticket.php" class="btn btn-default">
                {lang key="errorPage.404.submitTicket"}
            </a>
        </div>
    </div>
