// compileCompressed, compressedFilenamePattern: ../../assets/css/skins/custom.min.css

// TYPOGRAPHY
$font-size:               14px;

//GENERAL
$background-color:        #1678be;
$body-text-color:         rgb(38, 38, 38);
$heading-text-color:      #666666;
$table-background:        transparent;
$avatar-rounded:          true;

// BOOTSTRAP COLORS
$default-text:            #ffffff;
$default-bg:              #999999;
$primary-text:            #ffffff;
$primary-bg:              #79ce6a;
$info-text:               #ffffff;
$info-bg:                 #2ba651;
$success-text:            #ffffff;
$success-bg:              #8fce35;
$warning-text:            #ffffff;
$warning-bg:              #ce7435;
$danger-text:             #ffffff;
$danger-bg:               rgb(161, 38, 38);
$outline-text:            #5dd0ed;

// SKIN COLORS
$link-color:              #1678be;
$accent-color:            #1678be;
$secondary-color:         #79ce6a;
$neutral-color:           #c7c7cc;
$well-color:              #ffffff;
$logo-color:              #ffffff;
$logo-color-minimal:      #ffffff;
$hamburger-menu:          #ffffff;
$box-holder:              #ffffff;
$left-sidebar:            #4f6e85;
$left-sidebar-border:     #576d7d;
$left-sidebar-text:       #ffffff;
$use-sidebar-accent:      false;
$sidebar-border-color:    #576d7d;
$navbar-bg:               transparent;

$cart-items:              hsla(0,0%,100%,0.6);

// TOP HEADER

$use-header-wide-bg:      false; // Use for a distinct header with own full width background.
$top-header-wide-bg:      transparent;
$top-header-icons:        hsla(0,0%,100%,0.3);
$top-header-bg:           #475b65;
$top-header-text:         #ffffff;
$use-topbar-accent:       false;
$use-topbar-borders:      false;

$info-box-bg:             #ebeef2;
$news-panel-bg:           #f7f8fa;
$news-panel-text:         #666666;
$news-panel-link:         #358fce;

$ticket-admin-head-bg:    #cce9a4;
$ticket-admin-head-text:  rgba(0, 0, 0, .5);
$ticket-user-head-bg:     #c7eff9;
$ticket-user-head-text:   rgba(0, 0, 0, .5);

$datatable-panel:         #59b1f0;
$datatable-panel-link:    #ffffff;
$datatable-panel-footer:  #f7f7f7;

$sub-footer-text:         #475b65;
$sub-footer-link:         #ffffff;

// MINIMAL
$minimal-box-bg:          rgba(255,255,255,0.8);
$minimal-box-text:        #3f77a4;
$minimal-box-alt-text:    #ffffff;

// FORMS
$border-radius-base:      0px;
$border-radius-forms:     0px;
$form-color:              #555555;
$form-background:         rgba(0, 0, 0, .02);
$form-border:             rgba(0, 0, 0, .1);
$form-placeholder:        #333333;

body {
font-size: $font-size; color: $body-text-color;
background: linear-gradient(135deg, rgb(22, 120, 190) 20%, rgb(0, 195, 229) 80%);

}
.navbar .user-menu{margin-right:15px;}

@import "skin";
