@import url('../fonts/flow.css');
/* Bootstrap and FA Tweaks
====================================*/
ul { list-style: none; }
.action-step { margin-bottom: 30px; }
a:hover { text-decoration: none; }
.well-secondary { border-top: 2px solid #ccc; }
.well-primary h4 { margin-top: 0; }
.label-white { background-color: #f7f7f7; color: #888; }
.btn-link:focus, .btn-link:hover { text-decoration: underline; background-color: transparent; }
.pricing .fa-times { color: #bc1a3a; }
.subhidden { display: none; }
.form-control::-webkit-input-placeholder { color: #aaa; }
.form-control:-moz-placeholder { color: #aaa; }
.form-control::-moz-placeholder { color: #aaa; }
.form-control:-ms-input-placeholder { color: #aaa; }
.input-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {height: 56px;}
.btn-lg, .btn-group-lg>.btn { padding: 15px 21px;}
select.input-lg, .input-group-lg>select.form-control, .input-group-lg>select.input-group-addon, .input-group-lg>.input-group-btn>select.btn { height: 56px; line-height: 56px; }
input[readonly] { background-color: #eee; }
label { text-transform: uppercase; font-size: 10px; font-weight: 800; }
.checkbox label, .radio label { font-size: 13px; }
p.domain-price { margin: 0; }
.domain-search-cart label { font-size: 12px; }
.row-eq-height { display: -webkit-box; display: -ms-flexbox; display: flex; }
*[id^='customfield'] {height: 56px;line-height: 56px;}
.checkbox-inline.accepttossidebar{padding-left: 0; padding-bottom: 5px;}
.intl-tel-input .country-list { z-index: 3; }

/* Cart Summary
====================================*/
.order-row h6 { padding-right: 0; line-height: 30px; font-weight: 700; position: relative; margin: 0 0 2px; }
.order-row { margin:45px 0; }
.order-total { font-weight: 700; border-bottom: none;}
.order-subtotal { border-bottom: 1px solid #ededed; border-top: 1px solid #ededed; padding: 14px 28px 14px 15px; }
/* Domain Search
====================================*/
#domain-search .nav-material li a .radio,
#domain-search .nav-material li a input[type=radio] { display: none; }
#domain-search .domain-tabs {margin-bottom: 15px; margin-top:30px;}
/* Flow Menu
====================================*/
#flow-menu, #stepbar { position: relative; height: 60px; background-color: #e9eef2;}
#flow-menu { padding-left: 61px; }
#flow-menu>li, #stepbar>li { position: relative; float: left; width: 25%; height: 60px; box-sizing: border-box; }
#flow-menu>li .flow-icon { width: 30px; color: #fff; font-size: 28px; text-align: left; vertical-align: middle; margin: 0; }
#flow-menu li.dashboard, #stepbar li.dashboard { position: absolute; height: 60px; width: 60px; left: 0; background-color: #dce1e5; }
#flow-menu>li.dashboard>a, #stepbar>li.dashboard>a, #stepbar>li.dashboard>span { width: 100%; font-size: 18px; text-align: center; line-height: 60px; padding: 0; }
#flow-menu li.dashboard a:before, #flow-menu li .flow-icon:before,
#stepbar li.dashboard a:before { margin: 0; }
#flow-menu>li>a, #stepbar>li>a { display: table; width: 100%; vertical-align: middle; height: 60px; color: #777; box-sizing: border-box; padding: 0 0 0 20px; }
#flow-menu>li>a>span, #stepbar>li>span>span { display: table-cell; padding-right: 10px; vertical-align: middle; line-height: 16px; }
#flow-menu>li.active>a, #stepbar>li.active>a, #stepbar>li.active>span { text-decoration: none; }
#flow-menu li.active a .flow-icon, #flow-menu li.active span .flow-icon { color: #fff; text-decoration: none; }
#flow-menu.flow-menu-flip {padding-right: 60px; padding-left: 0;}
#flow-menu.flow-menu-flip > li { float: right; }
#flow-menu.flow-menu-flip li.dashboard {left:auto;right: 0px;}

/* Billing Cycles + Currency
====================================*/
input.cycle-1, input.cycle-curr { display: none; }
label.cycle-1 { color: #333; font-size: 16px; font-weight: 700; cursor: pointer; text-align: center; padding: 15px 0; }
label.cycle-1 span { color: #555; font-size: 11px; font-weight: 400; float: left; width: 100%; }
label.cycle-1.regdomain { font-size: 16px; font-weight: 700; padding: 0 0 18px; }
label.cycle-1.regdomain, label.cycle-curr { color: #333; cursor: pointer; text-align: center; }
label.cycle-curr { padding: 0; }
label.cycle-curr span { color: #666; font-size: 14px; font-weight: 700; margin-bottom: 3px; }
label.cycle-curr.regdomain { color: #333; font-size: 16px; font-weight: 700; cursor: pointer; text-align: center; padding: 0; }
.cal { color: #e9eef2; margin-bottom: 10px; }
.cal-domains { margin-bottom: 5px; }
.cal-icon { margin-bottom: 15px; }
.currency { padding-right: 10px; margin-bottom: -15px; }
.curr { color: #e9eef2; margin-bottom: 0; }
.currency-product a { padding-right: 5px; }
.currency-product span { color: #666; font-size: 14px; font-weight: 700; margin-bottom: 3px; }
.fa-money { color: #e9eef2; }
/* Nav Wizard
====================================*/
ul.nav-wizard { position: relative; overflow: hidden; }
ul.nav-wizard:before { top: 60px; }
ul.nav-wizard:after, ul.nav-wizard:before { display: block; position: absolute; left: 0; right: 0; height: 60px; z-index: 2; content: " "; }
ul.nav-wizard:after { top: 138px; }
ul.nav-wizard li { position: relative; float: left; height: 60px; display: inline-block; vertical-align: middle; font-size: 16px; line-height: 60px; margin: 0; padding: 0 20px 0 30px; color: #777; }
ul.nav-wizard li a { color: #468847; padding: 0; }
ul.nav-wizard li a:hover { background-color: transparent; }
ul.nav-wizard li:before { border: 30px solid transparent; border-left: 16px solid #d4d4d4; border-right: 0; right: -16px; }
ul.nav-wizard li:after, ul.nav-wizard li:before { position: absolute; display: block; top: -1px; z-index: 1; content: ''; }
ul.nav-wizard li:after { border: 30px solid transparent; border-left: 16px solid #e9eef2; border-right: 0; right: -15px; }
ul.nav-wizard.flo-rtl li:after { border: 30px solid transparent; border-left:0; border-right: 16px solid #e9eef2; right: 0; }
ul.nav-wizard.flo-rtl li:before { border: 30px solid transparent; border-left: 0; border-right: 16px solid #d4d4d4; right: 1px; }
ul.nav-wizard.flo-rtl li.active:before { border-right: 16px solid #e9eef2 ; right: 0px; }
ul.nav-wizard.flo-rtl li.step1:after, ul.nav-wizard.flo-rtl li.step1:before{display: none}

ul.nav-wizard .active~li { color: #777; background: #e9eef2; }
/* Loader
====================================*/
#loader { line-height: 60px; right: 10px; position: absolute; overflow: hidden; }
.loader { height: 32px; margin-top: 5px; line-height: 32px; }
/* User Details
====================================*/
.loader, .user-details .nav-tabs li a .radio,
.user-details .nav-tabs li a input[type=radio] { display: none; }
.user-details .nav-tabs li a { color: #666; }
.user-details .nav>li>a { position: relative; display: block; padding: 9px 30px; }
.user-details .tab-content { padding-top: 30px; }
/* Pricing
====================================*/
.pricing { padding: 10px 15px; }
.pricing .plan.first { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.pricing .plan.last { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.pricing .plan.popular { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-radius: 5px; }
.pricing .plan.popular .header { margin-bottom: 20px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.pricing .col-md-2, .pricing .col-md-3, .pricing .col-md-15, .pricing .col-sm-2,
.pricing .col-sm-3, .pricing .col-sm-15 { padding-left: 0; padding-right: 0; }
.pricing .plan.last .header { border-top-right-radius: 5px; }
.pricing .plan.first .header { border-top-left-radius: 5px; }
.pricing .btn-block { width: 90%; }
.pricing .plan { box-shadow: 0 2px 2px #aaa; min-height: 90px; background: #fff; border-radius: 5px; padding-bottom: 25px; text-align: center; margin: 20px 0; }
.pricing .plan .header { border-top-left-radius: 5px; border-top-right-radius: 5px; background: #eee; color: #999; padding: 12px 15px; position: relative; top: auto; height: auto; }
.plan .header h2, .plan .header h3, .pricing .plan .header h1 { font-weight: 100; margin: 0; padding: 0; }
.pricing .plan .price { border-top: 1px dashed #ddd; width: 90%; margin: 0 auto 30px; }
.pricing .plan p { padding: 0 30px 15px; }
.plan .price h3 { font-size: 60px; vertical-align: top; line-height: 1; }
.plan .price h3 span { font-size: 30px; vertical-align: top; position: relative; display: inline-block; margin: 6px 0 0 -7px; }
.plan .price h4 { font-size: 50px; vertical-align: top; line-height: 1; }
.plan .price h4 span { font-size: 30px; vertical-align: top; position: relative; display: inline-block; margin: 6px 0 0 -7px; }
.plan .price h5 { font-size: 30px; vertical-align: top; line-height: 1; }
.plan .price h5 span { font-size: 15px; vertical-align: top; position: relative; display: inline-block; margin: 6px 0 0 -7px; }
.plan .price h6 { color: #aaa; font-size: 14px; }
.plan ul { list-style-type: none; margin-top: 2px; padding: 20px; }
.plan ul li { line-height: 22px; margin-bottom: 15px; }
.plan ul li a { text-decoration: underline; color: #e6e9ed; }
.plan ul li:last-child { border-bottom: none; }
.plan.popular { margin-top: 6px; box-shadow: 0 0 15px #aaa; position: relative; z-index: 3; border-radius: 5px; }
.plan.popular .header { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.plan.popular .btn { margin-bottom: 10px; }
.pricing .plan, .pricing .plan .header { border-radius: 0; }
/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal, .iradio_minimal { display: inline-block; *display: inline; vertical-align: middle; margin: 0; padding: 0; width: 18px; height: 18px; background: url( minimal.png ) no-repeat; border: none; cursor: pointer; }
.icheckbox_minimal { background-position: 0 0; }
.icheckbox_minimal.hover { background-position: -20px 0; }
.icheckbox_minimal.checked { background-position: -40px 0; }
.icheckbox_minimal.disabled { background-position: -60px 0; cursor: default; }
.icheckbox_minimal.checked.disabled { background-position: -80px 0; }
.iradio_minimal { background-position: -100px 0; }
.iradio_minimal.hover { background-position: -120px 0; }
.iradio_minimal.checked { background-position: -140px 0; }
.iradio_minimal.disabled { background-position: -160px 0; cursor: default; }
.iradio_minimal.checked.disabled { background-position: -180px 0; }
/* HiDPI support */
@media (-webkit-min-device-pixel-ratio:1.25),(min-resolution:1.25dppx),(min-resolution:120dpi) {
 .icheckbox_minimal, .iradio_minimal { background-image: url( minimal@2x.png ); background-size: 200px 20px; }
}
/* Spotlight and Suggested Domains
====================================*/
.suggested-domains .btn-add-to-cart { float: right; }
.spotlight-tlds { margin: 15px 0; padding:0; }
.spotlight-tlds-container { margin-left: -15px; margin-right: -15px; }
.spotlight-tld-container { float: left; padding: 15px; }
.spotlight-tld-container-1 { width: 100%; }
.spotlight-tld-container-2 { width: 50%; }
.spotlight-tld-container-3 { width: 33.3%; }
.spotlight-tld-container-4 { width: 25%; }
.spotlight-tld-container-5 { width: 20%; }
.spotlight-tld-container-6 { width: 16.6%; }
.spotlight-tld-container-7 { width: 14.28%; }
.spotlight-tld-container-8 { width: 12.5%; }
@media screen and (max-width:991px) {
 .spotlight-tld-container-5, .spotlight-tld-container-6 { width: 33.3%; }
 .spotlight-tld-container-7, .spotlight-tld-container-8 { width: 25%; }
}
@media screen and (max-width:580px) {
 .spotlight-tld-container-3, .spotlight-tld-container-4, .spotlight-tld-container-5, .spotlight-tld-container-6, .spotlight-tld-container-7,
 .spotlight-tld-container-8 { width: 50%; }
}
.spotlight-tld { position: relative; overflow: hidden; margin: 0; padding: 10px 0; height: 112px; background-color: #fff; border: 1px solid #ddd; border-radius: 1px; text-align: center; font-weight: 700; color: #555; }
.spotlight-tld span { display: block; padding: 0 0 10px 0; font-weight: 400; }
.spotlight-tld .btn:not(.domain-contact-support) { padding: 2px 5px; font-size: 12px; border-radius: 0; background-color: #555; border-color: #333; color: #fff; width: 85%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.spotlight-tld .btn.domain-contact-support { padding: 2px 10px; font-size: 12px; line-height: 1.5; border-radius: 0; color: #fff; min-width: 85%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.spotlight-tld .btn span { padding: 0; }
.spotlight-tld .invalid, .spotlight-tld .unavailable { margin: 19px 0; background-color: #fff; border-color: #eee; color: #bbb; }
.spotlight-tld .domain-contact-support { margin: 10px 0; }
.spotlight-tld .domain-lookup-spotlight-loader { line-height: 47px; font-size: 1.4em; }
.spotlight-tld .results { display: none; }
.spotlight-tld-new { width: 60px; position: absolute; letter-spacing: 1px; padding: 3px; font-size: x-small; font-weight: 700; text-transform: uppercase; color: #fff; top: 3px; right: -18px; background-color: #2ad588; transform: rotate( 45deg ); -webkit-transform: rotate( 45deg ); }
.spotlight-tld-sale { background-color: #f7d458; }
.spotlight-tld-hot, .spotlight-tld-sale { width: 60px; position: absolute; letter-spacing: 0; padding: 3px; font-size: x-small; font-weight: 700; text-transform: uppercase; color: #fff; top: 3px; right: -18px; transform: rotate( 45deg ); -webkit-transform: rotate( 45deg ); }
.spotlight-tld-hot { background-color: #f9615a; }
.suggested-domains .panel-heading { border-bottom: 2px solid #62cb31; }
.suggested-domains .domain-lookup-suggestions-loader { padding: 30px 20px; background-color: #f8f8f8; font-size: .9em; text-align: center; opacity: .7; }
.suggested-domains .list-group-item { border-left: 0; border-right: 0; word-wrap: break-word; }
.suggested-domains .extension { font-weight: 700; }
.suggested-domains .promo.hot { padding:2px 10px; margin:0 15px; background-color: #f9615a; color: #fff; text-transform: uppercase; }
.suggested-domains .promo.sale { padding: 2px 8px; background-color: #f7d458; color: #fff; text-transform: uppercase; }
.suggested-domains .promo.new { padding: 2px 8px; background-color: #2ad588; color: #fff; text-transform: uppercase; }
.suggested-domains .actions { float: right; }
.suggested-domains .price { float: right; padding: 0 20px; font-size: 1.2em; }
.suggested-domains .btn:not(.domain-contact-support) { background-color: #555; border-color: #333;}
.suggested-domains .btn.domain-contact-support, .suggested-domains .btn:not(.domain-contact-support) { padding: 4px 10px; font-size: 11px; line-height: 1.4; border-radius: 0; color: #fff; }
ul#domainSuggestions .list-group-item {padding: 20px 10px;}
@media (max-width:767px) {
 .suggested-domains .list-group-item { text-align: center; }
 .suggested-domains .actions { float: none; }
 .suggested-domains .price { float: none; display: block; padding: 3px 0; }
 .suggested-domains .list-group-item .btn { float: none; display: block; width: 100%; }
}

.featured-tlds-container {padding:0 2px;}
.featured-tld { margin: 0 0 20px; border-radius: 4px; box-shadow: 0 6px 20px rgba( 0, 0, 0, .1 ); }
.featured-tld .img-container { padding: 20px 0; height: 115px; line-height: 75px; overflow: hidden; text-align: center; }
@media (max-width:767px) {
 .featured-tld .img-container { height: 80px; line-height: 40px; }
}
.featured-tld .img-container img { max-width: 70%; max-height: 100%; }
.featured-tld .price { padding: 5px; background-color: #f9f9f9; color: #555; font-weight: 400; line-height: 28px; text-align: center; border-radius: 0 0 2px 2px; }
.featured-tld .price.blog { background-color: #a0d5cb; color: #fff; }
.featured-tld .price.club { background-color: #053796; color: #fff; }
.featured-tld .price.com { background-color: #3aa4da; color: #fff; }
.featured-tld .price.couk { background-color: #1d3774; color: #fff; }
.featured-tld .price.host { background-color: #ed4d42; color: #fff; }
.featured-tld .price.live { background-color: #ff9e19; color: #fff; }
.featured-tld .price.name { background-color: #44b03e; color: #fff; }
.featured-tld .price.net { background-color: #efc00e; color: #fff; }
.featured-tld .price.online { background-color: #38ce6a; color: #fff; }
.featured-tld .price.rocks { background-color: #fd563c; color: #fff; }
.featured-tld .price.shop { background-color: #ff5900; color: #fff; }
.featured-tld .price.social { background-color: #ff9a00; color: #fff; }
.featured-tld .price.store { background-color: #0eadb3; color: #fff; }
.featured-tld .price.tech { background-color: #0db04b; color: #fff; }
.featured-tld .price.tv { background-color: #ea3438; color: #fff; }
.featured-tld .price.website { background-color: #2db9ea; color: #fff; }

.tld-filters { margin: 0 0 25px; }
.tld-filters a { display: inline-block; margin-bottom: 4px; padding: 5px 6px; font-size: 90%; font-weight: 400; border-radius: 2px; }
.domain-pricing {padding-top:30px; overflow: hidden;}
.domain-pricing .tld-row.highlighted { background: #eee; }
.domain-pricing .tld-pricing-header .col-sm-4, .domain-pricing .tld-pricing-header .col-xs-4 { padding-top: 15px; padding-bottom: 15px; background-color: #efefef; font-weight: 600; }
.domain-pricing .no-bg { background-color: transparent !important; }
.domain-pricing .tld-pricing-header div:nth-child(odd) { border-color: #ccc; background-color: #f5f5f5; }
.domain-pricing .two-row-center { line-height: 30px; margin-top: 6px; margin-bottom: 6px; padding-left: 30px; }

.tld-sale-group { padding: 1px 3px; color: #fff; font-size: 10px; text-transform: uppercase; }
.tld-sale-group-hot { background-color: #f9615a; }
.tld-sale-group-sale { background-color: #f7d458; }
.tld-sale-group-new { background-color: #2ad588; }



/*Material*/
.nav-material > li.active > a, .nav-material > li > a:hover {text-transform: uppercase;}
.nav-material .open>a, .nav-material .open>a:hover, .nav .open>a:focus { background-color: transparent ;}
.nav-material>li.active>a, .nav-material>li.active>a:focus, .nav-material>li.active>a:hover { border: none; border-color: #ddd #ddd transparent; border-image: none; border-style: solid; border-width: 1px; cursor: default; }
.nav-material>li>a { border: 1px solid transparent; border-radius: 4px 4px 0 0; line-height: 1.42857; margin-right: 2px; }
.nav-material { border-bottom: 2px solid #eee; }
.nav-material>li.active>a, .nav-material>li.active>a:focus, .nav-material>li.active>a:hover { border-width: 0; }
.nav-material>li>a { border: none; color: #666; text-transform: uppercase;}
.nav-material>li.active>a, .nav-material>li>a:hover { border: none; background: transparent; }
.nav-material>li>a:after { content: ""; position: absolute; bottom: -1px; transition: all .25s ease 0s; transform: scale( 0 ); }
.nav-material.nav-material-horizontal>li>a:after { height: 2px; width: 100%; left: 0; bottom: -1px; }
.nav-material>li.active>a:after, .nav-material>li:hover>a:after { transform: scale( 1 ); }
.nav-material>li { float: left; margin-bottom: -1px; }

 /* Order Configure Product Addon Promo Containers
 ====================================*/
.addon-promo-container { margin: 20px 0; padding: 20px; border: 1px solid #eee; font-size: .9em; }
.addon-promo-container h3 { margin: 0 0 10px; }
.addon-promo-container .logo { float: right; margin: 0 0 10px 20px; text-align: right; line-height: 100px; }
.addon-promo-container img { max-width: 120px; }
.addon-promo-container .description { margin: 10px 0; }
.addon-promo-container label { margin-top: 6px; width: 98%; font-size: 14px; }
.addon-promo-container a { text-decoration: underline; }
.mc-promos { margin: 20px auto 30px; max-width: 575px; }
.mc-promo { margin: 0 0 10px; border: 1px dashed #ccc; border-bottom: 4px solid #9abb3a; }
.mc-promo .cta { float: right; padding: 3px 10px; text-align: center; }
.mc-promo .headline { padding-top: 8px; font-size: 1.5em; }
.mc-promo .tagline { font-size: 1.2em; font-weight: 300; }
.mc-promo .header { border-bottom: 0; height: 70px; overflow: hidden; cursor: pointer; }
.mc-promo .icon { float: left; margin: 10px; width: 64px; height: 50px; line-height: 50px; text-align: center; }
.mc-promo .icon img { max-width: 100%; max-height: 100%; }
.mc-promo .body { padding: 10px 15px; border-top: 10px solid #eaeaea; background-color: #f8f8f8; font-size: .85em; display: none; }
.mc-promo .body i { color: #99bc3a; padding-right: 3px; }
.mc-promo em { font-weight: 700; font-style: normal; }
.mc-promo .body ul { list-style: none; margin: 0; padding: 0; }
.mc-promo .body li { float: left; width: 50%; }
.mc-promo .price { padding: 4px 0; font-size: 1.15em; color: #83a032; }
.mc-promo .btn-add { padding: 0; background-color: #99bb3a; color: #fff; font-size: 1em; }
.mc-promo .arrow { display: inline-block; padding: 2px 8px; background-color: #84b436; }
.mc-promo .text { display: inline-block; padding: 2px 8px; font-size: .9em; }
.mc-promo .expander { float: left; width: 28px; font-size: 1.5em; color: #99bc3a; text-align: right; line-height: 60px; transition: all 2s linear; }
.mc-promo.weebly { border-color: #7b7b7b; }
.mc-promo.weebly .btn-add { background-color: #7b7b7b; }
.mc-promo.weebly .arrow { background-color: #666; }
.mc-promo.weebly .expander,
.mc-promo.weebly .price { color: #7b7b7b; }
.mc-promo.spamexperts { border-color: #56a2da; }
.mc-promo.spamexperts .btn-add { background-color: #56a2da; }
.mc-promo.spamexperts .arrow { background-color: #4e98d0; }
.mc-promo.spamexperts .expander,
.mc-promo.spamexperts .price { color: #56a2da; }
.mc-promo.sitelock { border-color: #f29f44; }
.mc-promo.sitelock .btn-add { background-color: #f29f44; }
.mc-promo.sitelock .arrow { background-color: #f08f3d; }
.mc-promo.sitelock .expander,
.mc-promo.sitelock .price { color: #f29f44; }
.mc-promo .rotate { -webkit-transition: all .2s linear; transition: all .2s linear; }
.mc-promo .rotate.down { -webkit-transform: rotate( 90deg ); transform: rotate( 90deg ); }

/* Pricing Panel Fade In Animations
====================================*/
@-webkit-keyframes a {
 0% { opacity: 0; }
 to { opacity: 1; }
}
@keyframes a {
 0% { opacity: 0; }
 to { opacity: 1; }
}
.animatedCart { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animatedProduct { -webkit-animation-duration: .1s; animation-duration: .1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.fadeInCart { -webkit-animation-name: a; animation-name: a; }
to { opacity: 1; -webkit-transform: none; transform: none; }
.animatedProduct.pricing-first, .animatedProduct.pricing-second { -webkit-animation-delay: .1s; animation-delay: .1s; }
.animatedProduct.pricing-fourth, .animatedProduct.pricing-third { -webkit-animation-delay: .2s; animation-delay: .2s; }
.animatedProduct.pricing-fifth, .animatedProduct.pricing-sixth { -webkit-animation-delay: .3s; animation-delay: .3s; }

/* 5 columns for Bootstrap
====================================*/
.col-lg-15, .col-md-15, .col-sm-15, .col-xs-15 { position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; }
.col-xs-15 { width: 20%; float: left; }
@media (min-width:768px) {
 .col-sm-15 { width: 20%; float: left; }
}
@media (min-width:992px) {
 .col-md-15 { width: 20%; float: left; }
}
@media (min-width:1200px) {
 .col-lg-15 { width: 20%; float: left; }
}
#calcTaxes { display: none; }
#formPromotionCode .input-group .glyphicon-remove { right: 32px; }


/* Checkout
====================================*/
.apply-credit-container { margin: 15px 0; padding: 15px; background-color: #f2f2f2; }
.apply-credit-container span { font-weight: 700; }
.apply-credit-container .radio { padding-left: 20px; padding-right: 20px; }
.apply-credit-container .iradio_square-blue { margin-right: 6px; }
.apply-credit-container label { text-transform: none; font-weight: 400; }

/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue, .iradio_square-blue { display: inline-block; *display: inline; vertical-align: middle; margin: 0; padding: 0; width: 22px; height: 22px; background: url( blue.png ) no-repeat; border: none; cursor: pointer; }
.icheckbox_square-blue { background-position: 0 0; }
.icheckbox_square-blue.hover { background-position: -24px 0; }
.icheckbox_square-blue.checked { background-position: -48px 0; }
.icheckbox_square-blue.disabled { background-position: -72px 0; cursor: default; }
.icheckbox_square-blue.checked.disabled { background-position: -96px 0; }
.iradio_square-blue { background-position: -120px 0; }
.iradio_square-blue.hover { background-position: -144px 0; }
.iradio_square-blue.checked { background-position: -168px 0; }
.iradio_square-blue.disabled { background-position: -192px 0; cursor: default; }
.iradio_square-blue.checked.disabled { background-position: -216px 0; }
/* HiDPI support */
@media (-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
 .icheckbox_square-blue, .iradio_square-blue { background-image: url( blue@2x.png ); background-size: 240px 24px; }
}
