/* GENERAL */
html { height: 100%; }
h1, h2, h3, h4, h5, h6 {text-transform: uppercase;}
.table>thead>tr>th {font-weight: 700; text-transform: uppercase;}
a:focus, a:hover { text-decoration: none !important; }
.btn, button {transition: all .1s;-webkit-font-smoothing: antialiased;}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn.focus:active,.btn:active:focus,.btn:focus,button{outline:0;text-shadow:none;outline-offset:0;background-image:none;box-shadow:none;}
blockquote.page-information { -webkit-transition: .5s ease; transition: .5s ease; margin: 0; padding: 30px 15px; }
dd {margin-bottom: 10px; }
.modal-title { color: #ddd; }
.page-header {padding-bottom: 10px;padding-left: 15px;margin: 40px 0 0 0;}
.page-header .icon {vertical-align: middle; font-size: 28px}
.table>thead>tr>th {  border-bottom: 1px solid #eee;}
.panel-news { border: 0; box-shadow: none;}
.panel-news>.panel-heading {padding: 10px 15px;border-bottom: 0;}
.panel-tickets, .panel-tickets>.panel-heading {border: 0; box-shadow: none;}
.badge-circle { border-radius: 10px; padding: 3px 5px; font-size: 10px;}
.forceltr {direction: ltr!important;}
.center-block { display: block;margin-right: auto;margin-left: auto; }
.g-recaptcha div { width:auto!important; }
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.intl-tel-input {width: 100%;}

/* SPACING HELPERS t-top r-right b-bottom l-left x-both horizontal y-both vertical a-all 0-0px 1-15px 2-30px 3-60px */
.m-0{margin:0!important}.mt-0{margin-top:0!important}.mr-0{margin-right:0!important}.mb-0{margin-bottom:0!important}.ml-0,.mx-0{margin-left:0!important}.mx-0{margin-right:0!important}.my-0{margin-top:0!important;margin-bottom:0!important}.m-1{margin:15px!important}.mt-1{margin-top:15px!important}.mr-1{margin-right:15px!important}.mb-1{margin-bottom:15px!important}.ml-1,.mx-1{margin-left:15px!important}.mx-1{margin-right:15px!important}.my-1{margin-top:15px!important;margin-bottom:15px!important}.m-2{margin:30px!important}.mt-2{margin-top:30px!important}.mr-2{margin-right:30px!important}.mb-2{margin-bottom:30px!important}.ml-2,.mx-2{margin-left:30px!important}.mx-2{margin-right:30px!important}.my-2{margin-top:30px!important;margin-bottom:30px!important}.m-3{margin:60px!important}.mt-3{margin-top:60px!important}.mr-3{margin-right:60px!important}.mb-3{margin-bottom:60px!important}.ml-3,.mx-3{margin-left:60px!important}.mx-3{margin-right:60px!important}.my-3{margin-top:60px!important;margin-bottom:60px!important}.p-0{padding:0!important}.pt-0{padding-top:0!important}.pr-0{padding-right:0!important}.pb-0{padding-bottom:0!important}.pl-0,.px-0{padding-left:0!important}.px-0{padding-right:0!important}.py-0{padding-top:0!important;padding-bottom:0!important}.p-1{padding:15px!important}.pt-1{padding-top:15px!important}.pr-1{padding-right:15px!important}.pb-1{padding-bottom:15px!important}.pl-1,.px-1{padding-left:15px!important}.px-1{padding-right:15px!important}.py-1{padding-top:15px!important;padding-bottom:15px!important}.p-2{padding:30px!important}.pt-2{padding-top:30px!important}.pr-2{padding-right:30px!important}.pb-2{padding-bottom:30px!important}.pl-2,.px-2{padding-left:30px!important}.px-2{padding-right:30px!important}.py-2{padding-top:30px!important;padding-bottom:30px!important}.p-3{padding:60px!important}.pt-3{padding-top:60px!important}.pr-3{padding-right:60px!important}.pb-3{padding-bottom:60px!important}.pl-3,.px-3{padding-left:60px!important}.px-3{padding-right:60px!important}.py-3{padding-top:60px!important;padding-bottom:60px!important}

/* MULTI SELECT */
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px 3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}


/* HEXA TWEAKS */
#stepbar {margin-top: 0!important;}
#flow-menu {margin-bottom: 0!important;}
.flowcart-row {margin: 30px 15px;}
.cart-wrapper {padding:0 15px;}
.nav-tabs > li > a{border:none;}
.btn-group{display:flex;}
li.pull-right a:hover {background-color:transparent}
.logo-page a{text-decoration:none;}
.subhide,.subhidden,.adminreturndiv,#languagefrm{display:none;}

/* ALERT BOXES */
.alert { text-shadow: none; border: 0; border-radius: 0; padding: 24px; line-height: 36px; }
.alert-verify { padding: 5px; }
.alert-watermark { line-height: 1; position: absolute; right: 0; bottom: 0; opacity: .1; }
.alert-block { position: relative; }

/* ANNOUNCEMENTS */
.timeline { position: absolute; top: 78px; left: 90px; width: 2px; height: 94%; float: left; z-index: 0; }
ul.announce-items {margin-left: 0; padding-right: 0;}
.standard-items .announce-item { border: 0; margin-top: 30px; margin-bottom: 10px; padding-top: 0; padding-left: 0; z-index: 1; position: relative; }
.standard-items .announce-item:first-child { margin-top: 60px; }
.standard-post-date { border-radius: 2px; padding: 10px 20px; display: inline-block; text-transform: uppercase; margin-bottom: 30px; margin-left: 30px;}
.standard-post-content { position: relative; padding: 25px 30px 30px; margin-bottom: 4px;}
.standard-post-content.no-thumb:before { width: 0; height: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 30px solid #f7f7f7; top: -19px; position: absolute; left: 75px; }
.standard-post-content h1 { margin-top: 0; margin-bottom: 5px; -ms-word-wrap: break-word; word-wrap: break-word; }
.standard-post-content h1 a:hover { text-decoration: none; }
.announce-item .comments-likes { float: right; font-weight: 400; margin-top: 8px; }

/* MINIMAL PAGES */
.login-wrapper{position:absolute;top:90px;left:0;right:0;text-align:center;}
.login-wrapper .logo{margin-bottom:30px;position:relative;left:-2px;}
.login-wrapper .box h6, .minimal .well-register h6{text-transform:uppercase;padding-top:30px;font-size:18px;margin:0 0 30px;}
.login-wrapper .box input:-moz-placeholder{font-size:15px;letter-spacing:0;font-style:italic;}
.login-wrapper .box a.forgot{display:block;text-align:right;text-decoration:underline;}
.login-wrapper .box .remember{display:block;overflow:hidden;margin-bottom:20px;}
.login-wrapper .box .remember input[type="checkbox"]{float:left;margin-right:8px;}
.login-wrapper .box .remember label{float:left;}
.login-wrapper .box .login{text-transform:uppercase;font-size:13px;padding:8px 30px;}
.login-wrapper .no-account{float:none;text-align:center;font-size:14px;margin:25px auto 0;}
.login-wrapper .no-account p{display:inline-block;}
.login-wrapper .no-account a{margin-left:7px;border-bottom:1px solid;transition:all .1s linear;-moz-transition:all .1s linear;-webkit-transition:all .1s linear;-o-transition:all .1s linear;}
.login-wrapper .no-account a:hover{text-decoration:none;}
.login-wrapper .input-group-addon{background-color:transparent;}
.logo-page{margin-bottom:30px;}
.logo{font-size:28px;font-weight:100;}
.displaynone{display:none!important;}
.text-alert{margin-top:15px;padding:5px;}

/* SUB-FOOTER */
nav.std-menu .menu { height: auto; margin: 0; position: relative; padding: 0; }
nav.std-menu .menu li { position: relative; display: inline-block; float: left; margin: 8px 0; }
nav.std-menu .menu li>a { text-decoration: none; padding: 2px 0; margin: 0 10px; display: block; white-space: nowrap; background: transparent; }
.sub-footer nav .menu li:first-child { border-left: 0; }

/*SOCIAL*/
.login-wrapper .box-inverse { background: transparent !important; }
.btn-twitter { background-color: #3698d9; color: #fff; }
.btn-facebook { background-color: #3b5998; color: #fff; }
.btn-google { background-color: #e74c3d; color: #fff; }
.btn-twitter:focus, .btn-twitter:hover { background-color: #67b1e2; color: #fff; }
.btn-facebook:focus, .btn-facebook:hover { background-color: #5274bc; color: #fff; }
.btn-google:focus, .btn-google:hover { background-color: #ed7c71; color: #fff; }
.providerLinkingFeedback { display: none; line-height: 1.5;}
.sub-heading { margin-bottom:15px; }
/* TICKET RATING */
table.ticketrating{display:table;width:auto;border:0;border-spacing:1px;border-collapse:separate;margin-top:0;margin-bottom:0;font-size:11px;-moz-box-sizing:border-box;text-indent:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;border-radius:0;}
table.ticketrating td{display:table-cell;min-width:16px;line-height:16px;vertical-align:inherit;text-align:inherit;border:0;padding:0;}
table.ticketrating td.point{cursor:hand;}
table.ticketrating td.star{background:url(../../../images/rating_neg.png);cursor:hand;}

/* CHAT TRANSCRIPTS */
div.chat div.visitor div.name,div.chat div.operator div.name{font-weight:700;}
div.chat div.visitor div.message,div.chat div.operator div.message{padding:0 25px;}

/* SECURITY */
div#twofaactivation{width:75%;min-height:250px;background-color:#fff;border:4px solid #efefef;text-align:center;-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px;margin:50px auto;padding:20px;}
div#twofaactivation .errorbox{background-color:#FF4F4F;text-shadow:none;color:#fff;text-align:center;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;margin:0 0 20px;padding:10px 20px;}
div.twofabackupcode p{font-size:24px;line-height:24px;margin:0;}
div#twofaactivation p,div.twofabackupcode{margin:15px 0;}

/* CLIENT AREA HOME */
.clientarea-normal{text-align:center;margin-top:15px;}
.clientarea-normal.rounded .clientarea-button{margin-left:10px;margin-right:10px;}
.clientarea-normal.rounded .clientarea-button a{border-radius:50% 50% 50% 50%;padding:16px;}
.clientarea-normal .clientarea-button{display:inline-block;margin-bottom:15px;position:relative;text-align:center;}
.clientarea-normal .clientarea-button a{background-color:#fff;border:1px solid #e3e3e3;border-radius:3px;-webkit-box-shadow:0 0 3px #fff;-moz-box-shadow:0 0 3px #fff;box-shadow:0 0 3px #fff;color:#626262;display:block;min-width:156px;white-space:nowrap;padding:10px 0;}
.clientarea-normal .badge,.clientarea-normal .label{box-shadow:none;display:block;position:absolute;right:20px;top:3px;padding:3px 5px;}
.clientarea-normal .clientarea-button a:hover{text-decoration:none;cursor:pointer;}
.clientarea-normal .clientarea-button a:active{box-shadow:none;}
.clientarea-normal .clientarea-button a > span{display:block;font-weight:300;font-size:30px;padding-top:4px;color:#535967!important;}
.clientarea-normal .clientarea-button a > i{color:gray;font-size:32px;}
.clientarea-normal .clientarea-button.default a{border:1px solid #D9D9D9;box-shadow:0 1px 2px 0 #F8F8F8 inset;}
.clientarea-normal .clientarea-button.default a:hover{opacity:0.95;transition:opacity .2s ease-in-out 0;}
.clientarea-normal .clientarea-order a > span,.clientarea-normal .clientarea-order h4,.clientarea-normal .clientarea-kb a > span,.clientarea-normal .clientarea-kb h4,.clientarea-normal .clientarea-status a > span,.clientarea-normal .clientarea-status h4{color:#fff!important;}

/* PASSWORD STRENGTH */
#pwstrengthbox{background-color:#fff;width:100%;margin-top:7px;color:#9a9a9a;font-weight:400;display:inline-block;padding:5px 15px;}
#pwstrengthbox.strong{color:#468847;background-color:#dff0d8;font-weight:400;}
#pwstrengthbox.moderate{color:#c09853;background-color:#fcf8e3;font-weight:400;}
#pwstrengthbox.weak{background-color:#f2dede;color:#b94a48;font-weight:400;}

/* TABLES AND FORMS */
.cell-inner-list{list-style-type:none;margin:5px 0;padding:0;}
.form-inline .form-group{margin-left:0;margin-right:0;}
.inputs-list{list-style-type:none;}
table .headerSortasc:after{content: "\e253";font-family: 'Glyphicons Halflings';padding-left: 0.50em;font-size: 0.75em;vertical-align: bottom;}
table .headerSortdesc:after {content: "\e252";font-family: 'Glyphicons Halflings';padding-left: 0.50em;vertical-align: bottom;font-size: 0.75em;}

/* BOOTSTRAP PRICING TABLE */
.pricing{padding:10px 15px;}
.pricing .plan.first{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.pricing .plan.last{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.pricing .plan.popular{border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-radius:5px;}
.pricing .plan.popular .header{margin-bottom:20px;border-top-left-radius:5px;border-top-right-radius:5px;color:#fff;}
.pricing .plan.popular .header h2{color:#fff;}
.pricing .col-sm-3,.pricing .col-md-3{padding-left:0;padding-right:0;}
.pricing .col-sm-4,.pricing .col-md-4{padding-left:0;padding-right:0;}
.pricing .plan.last .header{border-top-right-radius:5px;}
.pricing .plan.first .header{border-top-left-radius:5px;}
.plan{box-shadow:0 2px 2px #aaa;min-height:90px;background:#fff;border-radius:5px;padding-bottom:25px;text-align:center;margin:20px 0;}
.plan .header{border-top-left-radius:5px;border-top-right-radius:5px;background:#eee;color:#999;padding:12px 15px;}
.plan .header h1,.plan .header h2,.plan .header h3{font-weight:200;margin:0;padding:0;}
.plan .price{border-top:1px dashed #ddd;width:90%;margin:0 auto 30px;}
.plan .price h3{font-size:60px;vertical-align:top;line-height:1;}
.plan .price h3 span{font-size:40px;vertical-align:top;position:relative;display:inline-block;margin:6px 0 0 -7px;}
.plan .price h4{color:#aaa;font-size:14px;}
.plan .btn{padding:15px 30px;}
.plan ul{list-style-type:none;margin-top:2px;padding:20px;}
.plan ul li{line-height:22px;margin-bottom:15px;}
.plan ul li a{text-decoration:underline;color:#e6e9ed;}
.plan ul li:last-child{border-bottom:none;}
.plan.popular{margin-top:6px;box-shadow:0 0 15px #aaa;position:relative;z-index:99;border-radius:5px;}
.plan.popular .header{border-top-left-radius:5px;border-top-right-radius:5px;background:#3a84b5;color:#fff;}
.plan.popular .btn{margin-bottom:10px;}
.pricing .plan,.pricing .plan .header{border-radius:0;}

/* FILE UPLOAD FORM */
.btn-file{position:relative;overflow:hidden;}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:999px;text-align:right;filter:alpha(opacity=0);opacity:0;background:red;cursor:inherit;display:block;}
#fileuploads input[readonly]{background-color:#ffffff!important;cursor:text!important;}

/* TOP HEADER */
.hx-top-header .navbar-nav { display: flex; flex-direction: column; padding-left: 0; margin-bottom: 0; margin-top:0; list-style: none; }
.hx-top-header .navbar-nav>.nav-item>.nav-link .btn-nav-toggle-responsive {font-size: 22px;}
.hx-top-header { border: 0; margin:20px 0; padding: 0; }
.hx-top-header>.container { padding: 0; display: flex; }
.cart-items { font-size: 10px; margin-left: 3px;}
.hx-top-header .hx-icons-nav, .hx-user-nav { flex: 0 0 auto; }
.hx-top-header .hx-icons-nav>.nav-item.dropdown>.nav-link .icon, .hx-top-header .hx-icons-nav>.nav-item>.nav-link .icon { font-size: 20px; vertical-align: middle;}
.nav-link .icon { font-size: 12px; vertical-align: middle; }
.hx-user-nav>.nav-item.dropdown>.nav-link { padding-right: 0; font-size: 14px; }
.hx-top-header .navbar-nav>.nav-item>.nav-link { line-height: 50px; font-size: 12px; padding: 0 15px; outline: none; }
.hx-top-header .hx-icons-nav>.nav-item.dropdown>.nav-link .indicator { border-radius: 50%; display: block; height: 6px; width: 6px; position: absolute; top: 19px; right: 7px; }
.avatar { display: block; height: 55px; width: 55px; position: absolute; top: 0; left: 0; margin-left: -50px; }
.hx-top-header .navbar-nav>.nav-item.dropdown>a .angle-down { position: relative; vertical-align: middle; margin: 0 10px; display: inline-block; }
.hx-top-header .navbar-brand { flex: 0 0 auto; font-size: 28px; font-weight: 100; padding-top: 0; padding-bottom: 0; line-height: 50px; height: 50px; background-repeat: no-repeat; background-position: 0; margin-right: 45px; margin-left: 0 !important; }
.hx-top-header .hx-top-nav { flex: 1 1; }
.hx-top-header .navbar-nav { flex-direction: row; }
.hx-top-header .navbar-nav>.nav-item.dropdown .dropdown-menu { border: 0; border-radius: 0 0 3px 3px; box-shadow: none; min-width: 184px; }
.hx-top-header .dropdown-menu { margin-top: 0; }
.hx-top-header .navbar-nav>.nav-item.dropdown .dropdown-menu>.dropdown-item { font-size: 12px; padding: 12px 18px; min-width: 175px; }
.hx-user-nav>.nav-item.dropdown .dropdown-menu .dropdown-item .icon { font-size: 18px; vertical-align: middle; padding: 0 4px; }
.dropdown-item { display: block; width: 100%; padding: 3px 18px; clear: both; font-weight: 400; text-align: inherit; white-space: nowrap; background: none; border: 0; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul { list-style: none; padding-left: 0; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li { overflow: hidden;}
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a { padding: 15px; display: block; overflow: hidden; }
.hx-top-header .hx-icons-nav>.nav-item.dropdown.open:hover>a:after, .hx-top-header .hx-icons-nav>.nav-item.dropdown.open>a:after { position: absolute; content: ""; display: inline-block; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 0; right: 50%; bottom: -1px; margin-right: -10px; }
.hx-top-header .hx-icons-nav .hx-messages>.dropdown-menu .title, .hx-top-header .hx-icons-nav .hx-notifications>.dropdown-menu .title,
.hx-top-header .hx-icons-nav .hx-settings>.dropdown-menu .title { font-size: 12px; text-align: center; padding: 14px 0; }
.hx-top-header .navbar-nav>.nav-item.dropdown .dropdown-menu { border: 0; border-radius: 0 0 3px 3px; box-shadow: none; min-width: 184px; }
.hx-top-header .hx-icons-nav .hx-messages>.dropdown-menu, .hx-top-header .hx-icons-nav .hx-notifications>.dropdown-menu,
.hx-top-header .hx-icons-nav .hx-settings>.dropdown-menu { width: 330px; border-radius: 5px; left: auto; margin-right: -165px; right: 50%; padding: 0; }
.hx-top-header .hx-icons-nav .hx-messages>.dropdown-menu .footer a, .hx-top-header .hx-icons-nav .hx-notifications>.dropdown-menu .footer a,
.hx-top-header .hx-icons-nav .hx-settings>.dropdown-menu .footer a { font-size: 10px; text-align: center; padding: 10px 0; display: block; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a .content, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a .content { padding-left: 50px; line-height: 14px; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a .icon, .hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a .img, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a .icon,
.hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a .img { margin-top: 3px; height: 36px; width: 36px; border-radius: 50%; float: left; text-align: center; }
.hx-top-header .nav .open>a, .hx-top-header .nav .open>a:hover { background-color: transparent !important; }
.hx-top-header .nav>li>a:focus, .hx-top-header .nav>li>a:hover { background-color: transparent; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a .content .desc, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a .content .desc { font-size: 11px; line-height: 17px; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a .content .date, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a .content .date { display: block; font-size: 10px; font-style: italic; font-weight: 300; margin-top: 5px; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a>.content .name { font-size: 11px; font-weight: 500; display: block; margin-bottom: 5px; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a>.content .date { float: right; margin-top: 1px; }
.hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a .icon>span, .hx-top-header .hx-icons-nav .hx-messages .hx-scroller>.content>ul>li>a .img>span,
.hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a .icon>span, .hx-top-header .hx-icons-nav .hx-notifications .hx-scroller>.content>ul>li>a .img>span { font-size: 18px; line-height: 34px; }
.ps-languages, .ps-messages { height: 360px; position: relative; overflow: auto; }


/* LEFT SIDEBAR */
.left-sidebar{position:absolute;border-right-width:2px;border-right-style: solid; width:200px;height:100%;}
.sidebar-holder{padding:25px 0;}
.sidebar-holder .nav li.nav-toggle{text-align:right;margin-top:-25px;}
.sidebar-holder .nav li.nav-toggle .btn-nav-toggle{background:none;border:none;border-radius:0;outline: none;}
.sidebar-holder .nav li.nav-toggle i{font-size:20px;}
.sidebar-holder .nav li.list-subheading{border-bottom:1px solid #ccd6de;color:#232b39;padding:15px 15px 5px;}
.sidebar-holder .nav li a{padding:13px 8px;}
.sidebar-holder .nav li a i{display:inline-block;text-align:center;width:20px;margin:0 0 0 10px}
.sidebar-holder .nav li a .label{background:none;-webkit-border-radius:18px;-moz-border-radius:18px;border-radius:18px;border:2px solid #99a8c2;color:#495b79;float:right;line-height:20px;padding:0 10px;}
.sidebar-holder .nav > li ul{list-style:none;padding-left:0;display:none;margin-left:0;}
.sidebar-holder .nav > li ul > li > a{display:block;padding:10px 5px 10px 45px;}
.site-holder.mini-sidebar .left-sidebar{width:60px!important;-webkit-transition:300ms ease;-moz-transition:300ms ease;-o-transition:300ms ease;-ms-transition:300ms ease;transition:300ms ease;}
.site-holder.mini-sidebar .left-sidebar .nav li.list-subheading{width:60px!important;overflow:hidden;border-bottom:1px solid #ccd6de;color:#1b242a;padding:5px;}
.site-holder.mini-sidebar .content{margin-left:60px;-webkit-transition:300ms ease;-moz-transition:300ms ease;-o-transition:300ms ease;-ms-transition:300ms ease;transition:300ms ease;}
.sidebar-holder > ul.nav > li > a > span.hidden-minibar.hide{display:none!important;}
.sidebar-holder .nav > li ul > li > a span.hidden-minibar.hide{display:inline-block!important;}
.sidebar-holder .nav li a:hover,.sidebar-holder .nav li.active > a{text-decoration:none;-webkit-transition:all .1s ease;-moz-transition:all .1s ease;-o-transition:all .1s ease;transition:all .1s ease;}
.sidebar-holder .nav li a:hover i,.sidebar-holder .nav li.active > a i{color:#fff;}
.site-holder.mini-sidebar li.submenu ul{width:200px;display:block;position:absolute;margin-left:60px!important;z-index:300000;margin-top:-40px;}

.arrow{float:right;}
.fa.arrow:before{content:"\f107";}
.mini-sidebar .info-box .info-icon{padding:30px;}

.site-holder.mini-sidebar .arrow,.site-holder.mini-sidebar .badge-default{display:none;}

@media (max-width: 767px) {
	.left-sidebar.show-fullsidebar,.site-holder.mini-sidebar .left-sidebar .show-fullsidebar{height:100%;width:100%!important;z-index:10000;min-height:100%;position:absolute;left:0;}
	.site-holder.mini-sidebar .left-sidebar .show-fullsidebar{height:100%;width:100%!important;z-index:10000;min-height:100%;position:absolute;left:0;}
	.hx-top-header .hx-top-nav { flex: 0 1; }
}

/* CONTENT AND SITE HOLDER */
.box-holder .content{margin-left:200px;}
.content .container {width:100%;}
.show-info{font-size:22px;cursor:pointer;}
.show-info, .rotate { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.show-info.down, .rotate.down { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
.site-holder.top-navbar .content{margin-left:20px;}
.site-holder.container{padding-right:0!important;padding-left:0!important;}
.site-holder{min-height:1080px;position:relative;}
.sidebar-holder span.icon, .sidebar-holder span.fa, .sidebar-holder i.fa{margin-left:10px;font-size:16px;margin-right:5px; vertical-align: middle;}
.info-box span.icon{font-size:36px;}
.box-holder {min-height: 1080px;}

/* INFO BOXES */
.info-box{margin-bottom:20px;border-radius:0;}
.info-box .info-icon{display:inline-block;width:28%;text-align:center;padding:20px;}
.info-box .info-chart{display:inline-block;width:28%;text-align:center;padding:0;}
.info-box .info-details{display:inline-block;width:70%;padding-left:3%;padding-right:3%;}
.info-box .info-details .pull-right{margin-right:5px;}
ul.info-list{margin-top:20px;}
.info-box.info-box-sm .info-icon, .mini-sidebar .info-box.info-box-sm .info-icon { padding: 15px; }
.info-box.info-box-sm span.icon { font-size: 24px; }

/* SIDE BUTTON */
.hexa-container{position:absolute;right:0;top:60px;z-index:12;}
.hexa-container i.fa {font-size: 20px;padding-top:3px;}
.btn.hexa-btn{float:left;display:inline-block;width:45px!important;height:30px;text-align:center;border-radius:5px 0 0 5px!important;opacity:.6;filter:alpha(opacity=60.00000000000001);vertical-align:top;margin:0;}
.btn.hexa-btn a:hover{opacity:1;filter:alpha(opacity=100);}

/* RIGHT SIDEBAR */
.sidebar-holder > ul.nav > li > a > span.hidden-minibar.hide{display:none!important;}
.sidebar-holder .nav > li ul > li > a span.hidden-minibar.hide{display:inline-block!important;}
.right-sidebar{float:right;z-index:1000;width:450px;position:absolute;right:25px;top:74px;margin-top:0;background-color:#f9f9f9;border:1px solid #e0e0e0;min-height:390px;-webkit-box-shadow:0 1px 3px 0 rgba(50,50,50,0.25);-moz-box-shadow:0 1px 3px 0 rgba(50,50,50,0.25);box-shadow:0 1px 3px 0 rgba(50,50,50,0.25);}
.right-sidebar-hidden{display:none;}
.right-sidebar-holder{padding-left:15px;padding-right:22px;height:390px; position: relative;}
.right-sidebar-holder span.icon.icon-close {color: #d9534f; font-size: 18px;}
.mini-sidebar .sidebar-holder span.icon, .mini-sidebar .sidebar-holder span.fa, .mini-sidebar .sidebar-holder i.fa {font-size:20px;}

/* QUICK SERVER LOGIN ADDON */
.right-sidebar input[type="submit"],.right-sidebar input[type="button"],.server-list input[type="button"],.server-list input[type="submit"]{font-family:FontAwesome, sans-serif;}
.percentage{font-size:13px;font-weight:400;display:inline-block;vertical-align:top;}
.easyPieChart,.easy-pie-chart{position:relative;text-align:center;}
.easyPieChart canvas,.easy-pie-chart canvas{position:absolute;top:0;left:0;}
.infobox-small{height:52px;text-align:left;}
.infobox-small>.infobox-progress{display:inline-block;width:50px;max-width:50px;height:42px;line-height:38px;vertical-align:middle;}
.infobox-small>.infobox-data{display:inline-block;text-align:left;font-size:11px;vertical-align:middle;max-width:115px;min-width:0;}
.qsl {margin:0 15px;}
.qsl a:hover,.right-sidebar-holder a:hover{text-decoration:none;}
.server-list {position: relative; max-height: 190px;}
.server-list table tr td {border-top: none;border-bottom: 1px solid #e7eaec;padding: 10px px;vertical-align: middle;}
.progress-bar {background-color: #5dd0ed;}
.progress-mini, .progress-mini .progress-bar {height: 5px; margin-bottom: 0px;}
.server-actions {text-align: right;vertical-align: middle;}
.server-title a {font-size: 14px; color: #676a6c; font-weight: 600;}
.server-actions ul.dropdown-menu {z-index: 100000;}

/* LANGUAGE BLOCK */
.hexa-container-lang{position: absolute; right: 0px;	top: 110px;	z-index: 12;}
.hexa-container-lang .hexa-btn {position: relative;}
.hexa-container-lang .dropdown-menu {right: 0;left: auto;}
.hexa-container-lang .fa {top: 1px;position: absolute;left: 12px;}
.languageblock { margin-top: 15px; margin-bottom: 15px;}

/* WHMCS SIX EXTRA CLASSES FOR 3RD PARTY SUPPORT*/
.tiles{margin:0 15px 15px}.tiles .tile{background-color:#f8f8f8;border-right:1px solid #ccc;padding:12px 20px}.tiles .tile a{text-decoration:none}.tiles .tile:hover{background-color:#f2f2f2;cursor:pointer}.tiles .tile .highlight{margin-top:4px;height:2px;border-radius:2px}.tiles .tile:last-child{border:0}.tile .stat{margin-top:20px;font-size:40px;line-height:1}.tile .title{font-weight:700;color:#888;text-transform:uppercase;font-size:12px}.bg-color-gold{background-color:#f0ad4e}.bg-color-green{background-color:#5cb85c}.bg-color-red{background-color:#d9534f}.bg-color-blue{background-color:#5bc0de}.bg-color-orange{background-color:#f39c12}.bg-color-pink{background-color:#e671b8}.bg-color-purple{background-color:#7b4f9d}.bg-color-lime{background-color:#8cbf26}.bg-color-magenta{background-color:#ff0097}.bg-color-teal{background-color:#00aba9}.bg-color-turquoise{background-color:#1abc9c}.bg-color-emerald{background-color:#2ecc71}.bg-color-amethyst{background-color:#9b59b6}.bg-color-wet-asphalt{background-color:#34495e}.bg-color-midnight-blue{background-color:#2c3e50}.bg-color-sun-flower{background-color:#f1c40f}.bg-color-pomegranate{background-color:#c0392b}.bg-color-silver{background-color:#bdc3c7}.bg-color-asbestos{background-color:#7f8c8d}

/* DATATABLES AND FILTER PANELS */
.list-group { display: inline-block; width: 100%; }
.filter_top .panel-heading { color: #555; text-decoration: none; }
.filter_top .list-group-item { border: 0; padding: 11px 15px; }
.border-radius { border-radius: 0; }
.filter_top.panel { background-color: transparent; margin-bottom: 0; }
.filter_top.panel, .panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child { border-radius: 0; box-shadow: none; border: 0; }
.filtershow { display: block; }
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .paging_simple_numbers { display: inline-block; }
.dataTables_wrapper .paging_simple_numbers { float: right; }
.filter_top div.dataTables_filter { display: inline-block; float: right; text-align: right; }
.filter_top .elemetsholder { display: inline-block; }
.panel-datatable { border: 0; box-shadow: none; margin-bottom: 24px; }
.panel-datatable .panel-heading { font-size: 16px; position: relative; border: 0; text-transform: uppercase; font-weight: 700; padding-bottom: 5px; }
.panel-datatable .panel-title { text-align: center; margin: 0; padding: 10px; }
.paginate_disabled_next:before, .paginate_disabled_previous:before, .paginate_enabled_next:before, .paginate_enabled_previous:before, .sorting:before,
.sorting_asc:before, .sorting_desc:before { position: relative; top: 3px; padding-right: 7px; display: inline-block; font-family: FontAwesome; -webkit-font-smoothing: antialiased; font-style: normal; font-weight: 400; float: left; line-height: 1; color: #555; }
.sorting_asc:before { content: "\f0dd"; }
.sorting_desc:before { content: "\f0de"; }
.sorting:before { content: "\f0dc"; opacity: .2; }
.dataTables_wrapper .dataTables_length { float: left; }
.panel-datatable>.panel-heading a, .panel-datatable>.panel-heading a:hover { color: #fff; text-decoration: none; }
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after { content: none !important; }
table.dataTable thead .sorting { white-space: nowrap; }
.filter_top .elemetsholder { padding: 3px; }
div.dataTables_filter input { opacity: .6; border: none; border-radius: 0; }
.dataTables_wrapper .dataTables_paginate .pagination>li>a, .dataTables_wrapper .dataTables_paginate .pagination>li>span { padding: 4px 8px; }
input.input_search { background: transparent url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAPCAYAAAD+pA/bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNpivHv3LgMaMANiGyD+DsRHgPgyAx6gpKSET5qBBYmdCcTJQGyMpmYfENdDLSMZwCyYD8QJUPYpqGGcQOwBxE5QbEuOJSxQgxOgQZIC9PIymOS9e/fYgFQjEFcA8S4g1gPiO6RYwITk8lxkw6Hh+wuIK4HMBVAf5ZPqA5AF9kD8DmoILjARStuQYwEI3Ae69C8edfdhniLXAgkC6kSh9CtyLAClDGlghHqjSwLFwBiafBnISUUgC7bCkirQMDMsamKBuBTKnktOMu2AZq4QID4GtGQlkD4IxDzQfOAKVfsDiD+SagEjUlExE4jTsKi5CzVcG4hfA7EzcvFBqKhgRCuL5KDJFpRrvwDxYSDeAcSgFLYR6iMUS0i1AB8A5ep1QAxKDN1AXEZqYUcI/ALiIGiKmk6sJoAAAwBgcFN3yAyEZwAAAABJRU5ErkJggg== ) no-repeat scroll right 6px; border-color: transparent; color: #bbb; cursor: pointer; height: 25px; margin: 0; padding: 3px 33px 3px 0; text-indent: 25px; transition-duration: .4s; transition-property: width, background; transition-timing-function: ease; width: 0; box-shadow: none; right: 0; top: 0; position: absolute; }
input.input_search:focus { background-color: #fff; border-color: #eaeaea; padding-left: 10px; text-indent: 0; width: 160px; position: absolute; right: 0; top: 0; opacity: 1; }
.dataTables_filter label { margin: 0; margin-top: 3px; position: relative; height: 25px; display: inline-block; width: 33px; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { padding: 15px; }
table.dataTable thead>tr>th { padding-left: 15px !important; }


/* PROJECT MANAGEMENT */
.panel-projects>.panel-footer { background-color: #fff; }
.panel-projects, .panel-projects>.panel-heading { border: 0; box-shadow: none; background-color: #fff; }
.todo-list-container { padding: 12px 23px 0; }
.todo-tasks { padding: 0; }
.todo-task { list-style: none; padding: 12px 0; }
.timedetail { display: none; }

/* DOMAIN CHECKER */
div.domainresults div.domain-checkout-area {display: none;float:right;padding: 15px 0px;}
#google-recaptcha-domainchecker { width: 304px;height: 78px;margin-top: 15px;margin-bottom: 15px;padding-top: 30px;}
.btn-default[disabled] {color: #999;}
.featured-tlds-container { margin: 35px 0 15px; }
.featured-tld { margin: 0 0 20px; border-radius: 4px; box-shadow: 0 6px 20px rgba( 0, 0, 0, .1 ); }
.featured-tld .img-container { padding: 20px 0; height: 115px; line-height: 75px; overflow: hidden; text-align: center; }
@media (max-width:767px) {
 .featured-tld .img-container { height: 80px; line-height: 40px; }
}
.featured-tld .img-container img { max-width: 70%; max-height: 100%; }
.featured-tld .price { padding: 5px; background-color: #f9f9f9; color: #555; line-height: 28px; text-align: center; border-radius: 0 0 4px 4px; }
.featured-tld .price.blog { background-color: #a0d5cb; color: #fff; }
.featured-tld .price.club { background-color: #053796; color: #fff; }
.featured-tld .price.com { background-color: #3aa4da; color: #fff; }
.featured-tld .price.couk { background-color: #1d3774; color: #fff; }
.featured-tld .price.host { background-color: #ed4d42; color: #fff; }
.featured-tld .price.live { background-color: #ff9e19; color: #fff; }
.featured-tld .price.name { background-color: #44b03e; color: #fff; }
.featured-tld .price.net { background-color: #efc00e; color: #fff; }
.featured-tld .price.online { background-color: #38ce6a; color: #fff; }
.featured-tld .price.rocks { background-color: #fd563c; color: #fff; }
.featured-tld .price.shop { background-color: #ff5900; color: #fff; }
.featured-tld .price.social { background-color: #ff9a00; color: #fff; }
.featured-tld .price.store { background-color: #0eadb3; color: #fff; }
.featured-tld .price.tech { background-color: #0db04b; color: #fff; }
.featured-tld .price.tv { background-color: #ea3438; color: #fff; }
.featured-tld .price.website { background-color: #2db9ea; color: #fff; }

.tld-filters { margin: 0 0 25px; }
.tld-filters a { display: inline-block; margin-bottom: 5px; padding: 5px;}
.domain-pricing .tld-row { padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #f5f5f5; }
.domain-pricing .tld-row.highlighted { background: #f7f7f7; }
.domain-pricing .tld-pricing-header .col-sm-4, .domain-pricing .tld-pricing-header .col-xs-4 { font-weight: 700; padding-top: 15px; padding-bottom: 5px; border-bottom: 1px solid #eee; background-color: #fff; }
.domain-pricing .no-bg { background-color: transparent !important; }
.domain-pricing .two-row-center { line-height: 28px; margin-top: 6px; margin-bottom: 6px; border-right: 1px solid #eee; }
.domain-pricing .tld-row.no-tlds { display: none; }

.tld-sale-group { padding: 1px 3px; color: #fff; font-size: 10px; text-transform: uppercase; }
.tld-sale-group-hot { background-color: #f9615a; }
.tld-sale-group-sale { background-color: #f7d458; }
.tld-sale-group-new { background-color: #2ad588; }




/* MARKDOWN */
.markdown-content h1 { font-size: 1.6em; color: #333; }
.markdown-content h2 { font-size: 1.4em; color: #333; }
.markdown-content h3 { font-size: 1.2em; color: #333; }
.markdown-content h4 { font-size: 1.1em; color: #333; }
.markdown-content pre { background-color: #444; color: #f8f8f8; border: 0; padding: 15px; }
.markdown-content pre code { white-space: pre; word-break: normal; word-wrap: normal; }
.markdown-content blockquote { font-size: 1em; }
.markdown-content table { background-color: #fff; border: 1px solid #ddd; margin: 10px 0; }
.markdown-content table>thead>tr>th { background-color: #f8f8f8; border: 1px solid #ddd; font-weight: 700; text-align: center; padding: 4px 10px; }
.markdown-content table>tbody>tr>td { border: 1px solid #ddd; padding: 3px 8px; }
.markdown-editor-status { font-size: 9pt; color: #959694; text-align: right; padding: 2px 10px; }
.small-font { font-size: .9em; }
.md-editor>.md-preview, .md-editor>textarea { padding: 15px; }
.md-editor.active, .md-editor .form-control:focus { border: 0; outline: 0; box-shadow: none; }
.md-editor .md-footer, .md-editor>.md-header { padding: 4px 0; background: #f7f7f7; }

/*MATERIAL*/
.nav-material > li.active > a, .nav-material > li > a:hover {text-transform: uppercase;}
.nav-material .open>a, .nav-material .open>a:hover, .nav .open>a:focus { background-color: transparent ;}
.nav-material>li.active>a, .nav-material>li.active>a:focus, .nav-material>li.active>a:hover { border: none; border-color: #ddd #ddd transparent; border-image: none; border-style: solid; border-width: 1px; cursor: default; }
.nav-material>li>a { border: 1px solid transparent; border-radius: 4px 4px 0 0; line-height: 1.42857; margin-right: 2px; }
.nav-material { border-bottom: 2px solid #eee; }
.nav-material>li.active>a, .nav-material>li.active>a:focus, .nav-material>li.active>a:hover { border-width: 0; }
.nav-material>li>a { border: none; color: #666; text-transform: uppercase;}
.nav-material>li.active>a, .nav-material>li>a:hover { border: none; background: transparent; }
.nav-material>li>a:after { content: ""; position: absolute; bottom: -1px; transition: all .25s ease 0s; transform: scale( 0 ); }
.nav-material.nav-material-horizontal>li>a:after { height: 2px; width: 100%; left: 0; bottom: -1px; }
.nav-material>li.active>a:after, .nav-material>li:hover>a:after { transform: scale( 1 ); }
.nav-material>li { float: left; margin-bottom: -1px; }

/* Store */
.store-order-container { margin: 20px 0; padding: 30px; }
.store-order-container h2 { margin-top: 0; }
.store-order-container .btn { padding: 10px 30px; font-size: 1.15em; font-weight: 300; }
.store-order-container .store-domain-tabs { margin-top: 20px; }
.store-order-container .store-domain-tabs li a { margin-right: 10px; padding: 7px 15px; background-color: #f9f9f9; border-bottom: 1px solid #ddd; }
.store-order-container .store-domain-tabs li.active a { background-color: #fff; border-bottom: 1px solid transparent; }
.store-order-container .store-domain-tab-content { margin-bottom: 20px; padding: 20px; border: 1px solid #ddd; border-top: 0; }
.store-order-container .store-domain-tab-content a { text-decoration: underline; }
.store-order-container .store-domain-tab-content a:hover { text-decoration: none; }
.store-order-container .payment-term h4 { margin-top: 25px; }
@media (min-width:768px) {
 .store-order-container .payment-term { float: right; }
 .store-order-container .payment-term h4 { margin-top: 0; }
}
.store-order-container .domain-validation { display: block; padding-top: 5px; font-size: 1.2em; font-weight: 300; color: #888; }
.store-order-container .domain-validation.ok { color: #53a22d; }
.store-promoted-product { margin: 50px 0; padding: 30px 30px 50px; background-color: #f6f6f6; }
.store-promoted-product .icon { height: 200px; line-height: 200px; text-align: center; overflow: hidden; }
.store-promoted-product .icon img { max-width: 100%; max-height: 100%; }
.store-promoted-product ul.features { margin: 20px 0; padding: 0; list-style: none; font-size: 1.1em; font-weight: 300; }
.store-promoted-product ul.features li { float: left; width: 50%; margin-bottom: 5px; }
.store-promoted-product ul.features li .fa:not(.fa-spinner) { font-size: 1.2em; color: #91c590; margin-left: 20px; margin-right: 10px; }
.store-promoted-product .btn { margin-top: 10px; padding: 10px 30px; font-size: 1.2em; font-weight: 300; }

/*Promotional Content Formatting */
.promo-banner { margin: 15px; padding: 15px 10px 20px; background-color: #fff; border: 1px solid #ddd; font-size: 1em; overflow: auto; }
.promo-banner .icon { float: left; margin: 0 20px 0 0; }
.promo-banner img { max-width: 300px; max-height: 200px; }
.promo-banner .icon-left { margin-bottom: 10px; text-align: center; }
@media (max-width:768px) {
 .promo-banner form { text-align: center; }
}
@media (min-width:768px) {
 .promo-banner img { max-width: 100%; max-height: 100%; }
 .promo-banner .icon-left { float: left; margin: 0; width: 155px; }
 .promo-banner .content { margin-left: 185px; }
}
.promo-banner h3 { margin: 0; padding: 0; font-size: 24px; font-weight: 300; }
.promo-banner h4 { font-size: 18px; font-weight: 300; }
.promo-banner p { margin: 5px 0; }
.promo-banner ul { margin: 0; padding: 0; list-style: none; font-size: .92em; }
.promo-banner ul li { margin-bottom: 4px; }
@media (min-width:1200px) {
 .promo-banner ul li { float: left; width: 50%; }
}
.promo-banner .fa:not(.fa-spinner) { font-size: 1.2em; color: #91c590; margin-left: 20px; margin-right: 10px; }
.promo-banner a { color: #f60; text-decoration: underline; }
.promo-banner .btn { margin: 6px 0 0; padding: 8px 30px; background-color: #f60; border: 0; color: #fff; }
@media (max-width:650px) {
 .promo-banner .icon { width: 100%; margin-bottom: 15px; }
}
.promo-banner-rounded { border-radius: 0; }
.promo-cart { margin-top: 0; margin-bottom: 0; border-bottom: 0; }
.promo-cart:first-child { margin-top: 20px; }
.promo-cart:last-child { margin-bottom: 20px; border-bottom: 1px solid #ddd; }
.promo-cart { padding: 20px; border-left: 0; border-right: 0; }
.promo-cart .btn-add { padding: 7px 18px; font-size: 1.1em; }
.promo-cart h3 { margin: 0 0 10px; font-size: 20px; }
.promo-cart h4 { font-size: 17px; }
@media (min-width:768px) {
 .promo-cart .icon-left { width: 120px; }
 .promo-cart .content { margin-left: 140px; }
}
.promo-cart .pricing { text-align: center; }
@media (min-width:768px) and (max-width:991px),(min-width:1200px) {
 .promo-cart .pricing { float: right; margin-top: -50px; }
}
.promo-cart .pricing h3 { margin-bottom: 0; }
.promo-cart { border-top: 2px solid #00548a; }
.promo-cart .btn-add { background-color: #00548a; }
.promo-cart a { color: #39f; }
.promo-cart ul li { float: none; width: 100%; margin-bottom: 4px; }
.promo-banner-slim { padding: 10px; }
.promo-banner-slim .icon-left { width: 85px; }
.promo-banner-slim .content { margin-left: 110px; }
.promo-banner-slim h3 { font-size: 18px; }
.promo-banner-slim h4 { font-size: 14px; }
.promo-banner-slim .btn { margin: 0 20px 0 0; padding: 6px 20px; }
.promo-banner.symantec-ssl { border-top: 3px solid #43737f; }
.promo-banner.symantec-ssl .btn { background-color: #4da24c; }
.promo-banner.weebly { border-top: 3px solid #2990ea; }
.promo-banner.weebly .btn { background-color: #2990ea; }
.promo-banner.spamexperts { border-top: 3px solid #58585a; }
.promo-banner.spamexperts .btn { background-color: #58585a; }
.promo-banner-slim.weebly .icon-left { width: 160px; }
.promo-banner-slim.weebly .content { margin-left: 185px; }

/* MarketConnect Service SSO */
.panel-mc-sso .icon-container { margin: 0 auto; max-width: 400px; }
.panel-mc-sso .icon-container img { max-width: 100%; max-height: 175px; }
.md-editor { display: block; border: 1px solid #ddd; }
.md-editor .md-footer, .md-editor>.md-header { display: block; padding: 6px 4px; background: #f5f5f5; }
.md-editor>.md-header { margin: 0; }
.md-editor>.md-preview { background: #fff; border-top: 1px dashed #ddd; border-bottom: 1px dashed #ddd; min-height: 10px; overflow: auto; }
.md-editor>textarea { font-family: Menlo, Monaco, Consolas, Courier New, monospace; font-size: 14px; outline: 0; margin: 0; display: block; padding: 0 10px; width: 100%; border: 0; border-top: 1px dashed #ddd; border-bottom: 1px dashed #ddd; border-radius: 0; box-shadow: none; background: #eee; }
.md-editor>textarea:focus { box-shadow: none; background: #fff; }
.md-editor.active { border-color: #66afe9; outline: 0; box-shadow: inset 0 1px 1px rgba( 0, 0, 0, .075 ), 0 0 8px rgba( 102, 175, 233, .6 ); }
.md-editor .md-controls { float: right; padding: 3px; }
.md-editor .md-controls .md-control { right: 5px; color: #bebebe; padding: 3px 3px 3px 10px; }
.md-editor .md-controls .md-control:hover { color: #333; }
.md-editor.md-fullscreen-mode { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 6; padding: 60px 30px 15px; background: #fff !important; border: 0 !important; }
.md-editor.md-fullscreen-mode .md-footer { display: none; }
.md-editor.md-fullscreen-mode .md-input, .md-editor.md-fullscreen-mode .md-preview { margin: 0 auto !important; height: 100% !important; font-size: 20px !important; padding: 20px !important; color: #999; line-height: 1.6em !important; resize: none !important; box-shadow: none !important; background: #fff !important; border: 0 !important; }
.md-editor.md-fullscreen-mode .md-preview { color: #333; overflow: auto; }
.md-editor.md-fullscreen-mode .md-input:focus, .md-editor.md-fullscreen-mode .md-input:hover { color: #333; background: #fff !important; }
.md-editor.md-fullscreen-mode .md-header { background: 0 0; text-align: center; position: fixed; width: 100%; top: 20px; }
.md-editor.md-fullscreen-mode .btn-group { float: none; }
.md-editor.md-fullscreen-mode .btn { border: 0; background: 0 0; color: #b3b3b3; }
.md-editor.md-fullscreen-mode .btn.active, .md-editor.md-fullscreen-mode .btn:active, .md-editor.md-fullscreen-mode .btn:focus,
.md-editor.md-fullscreen-mode .btn:hover { box-shadow: none; color: #333; }
.md-editor.md-fullscreen-mode .md-fullscreen-controls { position: absolute; top: 20px; right: 20px; text-align: right; z-index: 5; display: block; }
.md-editor.md-fullscreen-mode .md-fullscreen-controls a { color: #b3b3b3; clear: right; margin: 10px; width: 30px; height: 30px; text-align: center; }
.md-editor.md-fullscreen-mode .md-fullscreen-controls a:hover { color: #333; text-decoration: none; }
.md-editor.md-fullscreen-mode .md-editor { height: 100% !important; position: relative; }
.md-editor .md-fullscreen-controls { display: none; }
.md-nooverflow { overflow: hidden; position: fixed; width: 100%; }
table.dataTable { clear: both; margin-top: 6px !important; margin-bottom: 6px !important; max-width: none !important; border-collapse: separate !important; }
table.dataTable td, table.dataTable th { box-sizing: content-box; }
table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty { text-align: center; }
table.dataTable.nowrap td, table.dataTable.nowrap th { white-space: nowrap; }
div.dataTables_wrapper div.dataTables_length label { font-weight: 400; text-align: left; white-space: nowrap; }
div.dataTables_wrapper div.dataTables_length select { width: 75px; display: inline-block; }
div.dataTables_wrapper div.dataTables_filter { text-align: right; }
div.dataTables_wrapper div.dataTables_filter label { font-weight: 400; white-space: nowrap; text-align: left; }
div.dataTables_wrapper div.dataTables_filter input { margin-left: .5em; display: inline-block; width: auto; }
div.dataTables_wrapper div.dataTables_info { padding-top: 8px; white-space: nowrap; }
div.dataTables_wrapper div.dataTables_paginate { margin: 0; white-space: nowrap; text-align: right; }
div.dataTables_wrapper div.dataTables_paginate ul.pagination { margin: 2px 0; white-space: nowrap; }
div.dataTables_wrapper div.dataTables_processing { position: absolute; top: 50%; left: 50%; width: 200px; margin-left: -100px; margin-top: -26px; text-align: center; padding: 1em 0; }
table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc { padding-right: 30px; }
table.dataTable thead>tr>td:active, table.dataTable thead>tr>th:active { outline: none; }
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled { cursor: pointer; position: relative; }
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after { position: absolute; bottom: 8px; right: 8px; display: block; font-family: Glyphicons Halflings; opacity: .5; }
table.dataTable thead .sorting:after { opacity: .2; content: "\e150"; /* sort */ }
table.dataTable thead .sorting_asc:after { content: "\e155"; /* sort-by-attributes */ }
table.dataTable thead .sorting_desc:after { content: "\e156"; /* sort-by-attributes-alt */ }
table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after { color: #eee; }
div.dataTables_scrollHead table.dataTable { margin-bottom: 0 !important; }
div.dataTables_scrollBody table { border-top: none; margin-top: 0 !important; margin-bottom: 0 !important; }
div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after { display: none; }
div.dataTables_scrollBody table tbody tr:first-child td, div.dataTables_scrollBody table tbody tr:first-child th { border-top: none; }
div.dataTables_scrollFoot table { margin-top: 0 !important; border-top: none; }
@media screen and (max-width:767px) {
 div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_length,
 div.dataTables_wrapper div.dataTables_paginate { text-align: center; }
}
table.dataTable.table-condensed>thead>tr>th { padding-right: 20px; }
table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after { top: 6px; right: 6px; }
table.table-bordered.dataTable td, table.table-bordered.dataTable th { border-left-width: 0; }
table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable th:last-child { border-right-width: 0; }
div.dataTables_scrollHead table.table-bordered, table.table-bordered.dataTable tbody td, table.table-bordered.dataTable tbody th { border-bottom-width: 0; }
div.table-responsive>div.dataTables_wrapper>div.row { margin: 0; }
div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:first-child { padding-left: 0; }
div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:last-child { padding-right: 0; }
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child, table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child { cursor: default !important; }
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before { display: none !important; }
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child { position: relative; padding-left: 30px; cursor: pointer; }
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before { top: 9px; left: 4px; height: 14px; width: 14px; display: block; position: absolute; color: #fff; border: 2px solid #fff; border-radius: 14px; box-shadow: 0 0 3px #444; box-sizing: content-box; text-align: center; font-family: Courier New, Courier, monospace; line-height: 14px; content: '+'; background-color: #337ab7; }
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before { content: '-'; background-color: #d33333; }
table.dataTable.dtr-inline.collapsed>tbody>tr.child td:before { display: none; }
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child { padding-left: 27px; }
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before { top: 5px; left: 4px; height: 14px; width: 14px; border-radius: 14px; line-height: 14px; text-indent: 3px; }
table.dataTable.dtr-column>tbody>tr>td.control, table.dataTable.dtr-column>tbody>tr>th.control { position: relative; cursor: pointer; }
table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before { top: 50%; left: 50%; height: 16px; width: 16px; margin-top: -10px; margin-left: -10px; display: block; position: absolute; color: #fff; border: 2px solid #fff; border-radius: 14px; box-shadow: 0 0 3px #444; box-sizing: content-box; text-align: center; font-family: Courier New, Courier, monospace; line-height: 14px; content: '+'; background-color: #337ab7; }
table.dataTable.dtr-column>tbody>tr.parent td.control:before, table.dataTable.dtr-column>tbody>tr.parent th.control:before { content: '-'; background-color: #d33333; }
table.dataTable>tbody>tr.child { padding: .5em 1em; }
table.dataTable>tbody>tr.child:hover { background: transparent !important; }
table.dataTable>tbody>tr.child ul { display: inline-block; list-style-type: none; margin: 0; padding: 0; }
table.dataTable>tbody>tr.child ul li { border-bottom: 1px solid #efefef; padding: .5em 0; }
table.dataTable>tbody>tr.child ul li:first-child { padding-top: 0; }
table.dataTable>tbody>tr.child ul li:last-child { border-bottom: none; }
table.dataTable>tbody>tr.child span.dtr-title { display: inline-block; min-width: 75px; font-weight: 700; }
div.dtr-modal { position: fixed; box-sizing: border-box; top: 0; left: 0; height: 100%; width: 100%; z-index: 2; padding: 10em 1em; }
div.dtr-modal div.dtr-modal-display { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 50%; height: 50%; margin: auto; z-index: 4; overflow: auto; background-color: #f5f5f7; border: 1px solid #000; border-radius: .5em; box-shadow: 0 12px 30px rgba( 0, 0, 0, .6 ); }
div.dtr-modal div.dtr-modal-content { position: relative; padding: 1em; }
div.dtr-modal div.dtr-modal-close { position: absolute; top: 6px; right: 6px; width: 22px; height: 22px; border: 1px solid #eaeaea; background-color: #f9f9f9; text-align: center; border-radius: 3px; cursor: pointer; z-index: 1; }
div.dtr-modal div.dtr-modal-close:hover { background-color: #eaeaea; }
div.dtr-modal div.dtr-modal-background { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 3; background: rgba( 0, 0, 0, .6 ); }
@media screen and (max-width:767px) {
 div.dtr-modal div.dtr-modal-display { width: 95%; }
}
div.dtr-bs-modal table.table tr:first-child td { border-top: none; }
.multiselect-container { position: absolute; list-style-type: none; margin: 0; padding: 0; }
.multiselect-container .input-group { margin: 5px; }
.multiselect-container>li { padding: 0; }
.multiselect-container>li>a.multiselect-all label { font-weight: 700; }
.multiselect-container>li.multiselect-group label { margin: 0; padding: 3px 20px; height: 100%; font-weight: 700; }
.multiselect-container>li.multiselect-group-clickable label { cursor: pointer; }
.multiselect-container>li>a { padding: 0; }
.multiselect-container>li>a>label { margin: 0; height: 100%; cursor: pointer; font-weight: 400; padding: 3px 20px 3px 40px; }
.multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio { margin: 0; }
.multiselect-container>li>a>label>input[type=checkbox] { margin-bottom: 5px; }
.btn-group>.btn-group:nth-child(2)>.multiselect.btn { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio { padding: 3px 20px 3px 40px; }
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] { margin-left: -20px; margin-right: 0; }

.landing-page.ssl .certificate-options h3 {
    color: #fff;
}
.landing-page.ssl .certificate-options h4 {
    color: #fff;
}

.landing-page.ssl .features .feature h4 {
    color:#fff;
}

/* RESPONSIVE ADJUSTMENTS */
@media (max-width: 768px) {
.left-sidebar{height:100%;min-height:100%;position:absolute;left:-280px;}
.content{margin-left:0!important;padding:15px;}
.left-sidebar,.content{-webkit-transition:300ms ease;-moz-transition:300ms ease;-o-transition:300ms ease;-ms-transition:300ms ease;transition:300ms ease;}
.btn-nav-toggle{display:none;}
.hx-logout-nav {padding: 0 15px}
}
@media (max-width: 767px) {

.mail-pagination{margin-top:30px;}

.mails{margin-top:60px;}

.right-sidebar{display:none;}
}
@media max-width 480px {
#pwstrengthbox{display:block;margin:10px auto 0;}
}

@media screen and (max-width: 767px) {
div.dataTables_filter label {width: 100%;}
.filter_top div.dataTables_filter{display:block;float:none;}
}
@media (min-width: 992px) {
.pull-md-left {float: left;}
.pull-md-right {float: right;}
}
@media (min-width: 768px) {
.pull-sm-left {float: left;}
.pull-sm-right {float: right;}
.text-right-sm {text-align: right;}
}
