 <div class="row">
  <div class="col-md-4 col-md-offset-4 box">
    <div class="content-wrap">
      <h6>{$LANG.logouttitle}</h6>
        <p class="text-success bg-success text-alert">{$LANG.logoutsuccessful}</p>
       <div class="row">
         <div class="col-md-12">
          <p><a class="btn btn-primary btn-lg btn-block" href="index.php" title="{$LANG.logoutcontinuetext}">{$LANG.logoutcontinuetext}</a></p>
    </div>
    </div>
    </div>
  </div>
  </div>
{if $hexa_minimal == 1}
<div class="languageblock">
{include file="$template/languageblock.tpl"}
</div>
{/if}
