body{background-color:#f5f5f7;font-family: 'Source Sans Pro', sans-serif;}
h1,h2{font-weight:100;}

.table>thead:first-child>tr:first-child>td{text-transform:uppercase;font-weight:400;}
.table>tbody>tr.active>td{background-color:#fafafa;}
input[type=submit]{display:inline-block;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;background-color:#fff;color:#333;border-color:#ccc;padding:6px 12px;}

.draft{color:#666;border:1px #666 solid;padding:5px 15px;}
.unpaid{color:#c00;border:1px #c00 solid;padding:5px 15px;}
.paid{color:#779500;border:3px #779500 solid;padding:5px 15px;}
.refunded{color:#248;border:1px #248 solid;padding:5px 15px;}
.cancelled{color:#888;border:1px #888 solid;padding:5px 15px;}
.collections{color:#fc0;border:1px #fc0 solid;padding:5px 15px;}

.invoice-container{background-color:#fff;border-top:15px #eee solid;border-bottom:15px #eee solid;box-shadow:0 -10px 0 #e26148;margin:60px 0 15px;padding:60px 0;}
.invoice-container .payment-btn-container{padding-top:15px;}
.invoice-container .payment-btn-container table{float:right;}
.invoice-container .invoice-status{text-transform:uppercase;font-size:24px;font-weight:600;margin:20px 0 0;}

.panel-flat {border: 0;box-shadow: none;margin-bottom: 24px;background: rgba(0, 0, 0, 0.075);}
.panel-flat .panel-heading {background: #fafafa;font-size: 16px;position: relative;border: 0;text-transform: uppercase;font-weight: 700;}
.panel-flat .panel-body {padding: 10px;}

@media (max-width: 992px) {
.invoice-container{padding:30px;}    
}

@media (max-width: 768px) {
.invoice-container{padding:15px;}
.invoice-container .invoice-status {text-align: center;}
.payment-btn-container {text-align: center;}
.col-md-8 h3,.col-sm-8 h2 {text-align: center;}
.logo {text-align: center;}
}
