<div class="row">
<div class="col-md-12">
<h3 class="page-header">
{if $icon}<span aria-hidden="true" class="icon icon-{$icon}"></span>{/if} {$title} {if $desc}<i class="fa fa-angle-down show-info" aria-hidden="true"></i>{/if}
</h3>
{if $desc}
<blockquote class="page-information hidden">
<p>{$desc}</p>
</blockquote>
{/if}
</div>
</div>
