{include file="$template/pageheader.tpl" title=$LANG.navopenticket icon=support}
<div class="alert alert-success">
<h4>{$LANG.supportticketsticketcreated} <a href="viewticket.php?tid={$tid}&amp;c={$c}">#{$tid}</a></h4>
<p>{$LANG.supportticketsticketcreateddesc}</p>
</div>
